#mypanel{
  padding-left: 18px;
  padding-top: 21px;
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body{
  margin: 0 auto;
  font-family:"微软雅黑";
}
.company{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}
.platform-top{
  width: 100%;
  background-color: #fff;
  height: 50px;
  color: #0c57a2;
  font-size: 22px;
}
.platform-top h3{
  width: 1000px;
  margin: 0 auto;
  line-height: 50px;
  letter-spacing: 2px;
}
.platform-main{
  width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 90vh;
}
.platform-content{
  height: 100%;
  position: relative;
}
.platform-content .cl{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 42px;
  margin-left: -100px;
  margin-top: -20px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 40px;
  transition: opacity 1s ease-out 1.2s, top 1s ease-out 1.2s, color 0.3s, background-color 0.3s;
}
.platform-content .ps{
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
  width: 100%;
  margin-left: -440px;
  margin-top: -50px;
}
.platform-content .ps p{
  width: 200px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  float: left;
  margin: 0 40px;
}
.platform-content p:hover{
  background-color: #fff;
  color: #1878c4;
}
.Qcode-bg{
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.Qcode{
  z-index: 15;
  background: #fff;
  width: 250px;
  height: 265px;
/*  border-radius: 10px;*/
  text-align: center;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -125px;
 /* margin-top: -200px;*/
}
.Qcode  canvas{
  width: 200px;
  height:200px;
}
.Qcode img{
  position: absolute;
  top: 100px;
  left: 110px;
  width: 40px;
}
.Qcode p{
  text-align: center;
  line-height: 40px;
  font-size: 1.33rem;
  color: #333333;
}
.footer{
  position: relative;
  width: 600px;
  margin: 0 auto;
}
.footer img{
  position: absolute;
  bottom: 0;
}
.mask{
  z-index: 11;
  width: 110%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  display: none;
}
