@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 tahoma,arial,Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;}
ol, ul {list-style: none;}
button {cursor: pointer; outline:none;}
input ,select,textarea{outline:none;}
em,i { font-style: normal}
a{text-decoration: none;color: #333;}
a:hover{ color: #e33233}
img { border: 0px;}
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}
.login, .register, .resetPassword{
    position: absolute;
    top: 80px;
    right: 15%;
    width: 400px;
    height: 335px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    border: 1px solid #DDD;
}
.register{
    width: 377px;
    height: 420px;
    top: 49px;
}
.register_title{
    margin:30px 20px;
}
/*.login_title{*/
   /*margin: 0; */
   /*border-bottom: 1px solid #E6E2E1;*/
/*}*/
.register_title h3{
    font-weight: bold;
    font-size: 18px;
}
.login_title h3{
    font-size: 23px;
    color: #333;
    line-height: 60px;
}
.login form p{
    height: 40px;
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 40px;
    border: 1px solid #a4a4a4;
}
.login form p .iconfont{
    font-size: 18px;
    margin: 0 10px;
}
.login form p input{
    font-size: 16px;
    width: 300px;
    line-height: 20px;
    border: none;
    outline: none;
    color: #333;
}
.register form p{
    height: 34px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 32px;
    padding-left: 0;
}
.register form p:nth-child(5) input{
    width: 146px;
}
#send{
    position: relative;
    float: right;
    display: block;
    text-align: center;
    width: 80px;
    height: 40px;
    left: 6px;
    border: 1px solid #CCC;
    cursor: pointer;
}
.send-disabled {
    pointer-events: none;
    color: #777;
}
#send:hover{
    opacity: 0.8;
}
.login form .names{background: url(../../img/icon-user.png) no-repeat 10px center;
}
.login form .pass{
    background: url(../../img/icon-pass.png) no-repeat 10px center;
}

.resetPassword div .btns button{
    width: 100%;
    border: none;
    color: #fff;
    background-color: #db3a3b;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    margin-top:40px;
}
.resetPassword .outline {
    position: relative;
    /* margin: 40px 20px; */
    /* width: 306px; */
    margin: 0 24px;
}

.resetPassword .outline .input {
    margin-top: 10px;
}
.resetPassword .outline .input label{
    font-size: 16px;
    padding-right:10px;
    display: block;
}

.resetPassword .outline .input input{
    padding: 5px 10px;
    line-height: 28px;
    font-size: 14px;
    width:100%;
    margin-top: 5px;
}

.resetPassword .outline .input #send{
    margin-top: 5px;
    font-size: 16px;
    width: 45%;
    padding-top: 8px;
    height: 42px;
    margin-right: 5px;
}

.resetPassword .outline .input #checkCode{
    width:50%;
    display: inline;
}

.resetPassword div p input{
    font-size: 16px;
    width: 100%;
    line-height: 38px;
    border: none;
    outline: none;
    color: #333;
}
.register form p input{
    padding: 5px 10px;
    line-height: 28px;
    font-size: 14px;
    color: #333;
    width: 226px;
    border: 1px solid #CCC;
}
.register form p input{
    position: relative;
    left: 70px;
}
.register form p input::-webkit-input-placeholder{}
.login form p input::-webkit-input-placeholder{color: #666;}
.login form p input:-moz-placeholder{color: #666;}
.login form p input::-moz-placeholder{color: #666;}
.login form p input:-ms-placeholder{color: #666;}
.register form .re_btns button{
    width: 266px;
    height: 38px;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}
.login form .btns button{
    width: 100%;
    border: none;
    color: #fff;
    background-color: #db3a3b;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
}
.wechatScan{
    margin: 10px 0;
    font-size: 14px;
    text-align: right;
    height: 30px;
}
.wechatScan i{
    margin-right: 10px;
}
.register form .re_btns .re_gister{
    background-color: #990e0e;
    border: 1px solid #bfbfbf;
    color: #fff;
}
.register form .re_btns button:nth-child(2){
    float: right;
    background: #fdf4f4;
    color: #666;
}
.login form .btns .gister,.register form .re_btns .re_lgin{
    background-color: #cc1a1a;
    border: 1px solid #bfbfbf;
    color: #FFF;
    float: right;
}
.login form .btns .lgin:hover,
.login form .btns .gister:hover,.register form .re_btns .re_lgin:hover{
    background-color: #ef7575;
}
.register form .re_btns .re_gister:hover{
    opacity: 0.8;
}

#loginForm{
    position: relative;
    /*margin: 40px 20px;*/
    /*width: 306px;*/
    margin: 0 24px;
}
#loginForm .btns{
    position: relative;
    /*left: 20px;*/
    /*width: 266px;*/
    font-weight: 700;
    width: 100%;
    margin-top: 18px;
}
.forget{
    /*margin: 20px 38px 0;*/
    text-align: right;
    font-size: 14px;
    color: #333;
}
.forget a{
    /*margin-left: 20px;*/
    padding: 0 5px;
    color: #333;
}
.register form p input::-webkit-input-placeholder{color: #CCC;}
.register form p input:-moz-placeholder{color: #CCC;}
.register form p input::-moz-placeholder{color: #CCC;}
.register form p input:-ms-placeholder{color: #CCC;}
.register form p{
    padding: 0 10px;
}

.content{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 490px;
    background: url("../../img/images/login_banner.png") no-repeat center top;
}
.content.reg{
    /*background: #FFF;*/
}
/* #loginForm label{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    background: #c54141;
} */
.input{
    /*margin-left: 20px;*/
    margin-top: 32px;
}
.code{
    position: absolute;
    right: 24px;
    width: 114px;
    height: 42px;
    top: 18px;
    cursor: pointer;
}
.code_txt{
    position: relative;
    width: 72px;
    margin: 8px 0;
    color: #333;
    float: right;
}
.code:hover .code_txt{
    color: #df4242;
    text-decoration: underline;
}
.wechat-icon{
    display: inline-block;
}
.wechat-icon .iconfont{
    width: 42px;
    height: 42px;
    font-size: 24px;
    color: #00BB00;
    text-align: center;
    display: block;
}
.line{
    margin: 0px 24px;
    border-bottom: 1px solid #E6E2E1;
    width: 352px;
    height: 1px;
    position: relative;
    top: 60px;
}
.code_img{
    position: absolute;
    top: 95px;
    left: 100px;
    width: 200px;
    height: 200px;
}
.code_img img{
    height: 100%;
    width: 100%;
    border: 1px #e33233 solid;
    border-radius: 0.5em;
}
.hidden{
    display: none;
}
#footer{
    position: relative;
    top:490px;
}

.register_title h3{
    margin: 20px 90px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #990e0e;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#f18b8b), to(#910505));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#save{
    position: relative;
    left: 15px;
    width: 310px;
}
.register #save label{
    position: absolute;
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: justify;
}
.register form .re_btns .re_gister{
    width: 132px;
    margin: 5px 10px;
}
#mask{
    filter: Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 10001;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
}
.agreement{
    position: fixed;
    top: 18%;
    left: 25%;
    display: block;
    width: 947px;
    height: 600px;
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 4px;
    z-index: 10002;
}
.agree_title{
    font-size: 20px;
    font-weight: 700;
    background: #f1f1f1;
    line-height: 50px;
    padding-left: 40px;
}
.agree_content{
    position: relative;
    margin: 10px 20px;
    height: 460px;
    font-size: 14px;
    text-indent: 2em;
    border: 1px solid #e3e3e3;
    text-align: justify;
    overflow: auto;
}
.agree_txt{
    line-height: 25px;
    margin: 10px 20px;
}
.agreeBtn{
    position: relative;
    margin: 0 230px;
}

.agreeBtn button{
    display: inline-block;
    width: 200px;
    height: 54px;
    margin: 0 20px;
    vertical-align: middle;
    font-size: 16px;
    text-decoration: none;
    border: 0;
}
.agreeBtn button:nth-child(1){
    color: #999;
    background: #e3e4e5;
}
.agreeBtn button:nth-child(1):hover{
    text-decoration: underline;
}
.agreeBtn button:nth-child(2){
    color: #fff;
    background: #e22;
}

@media (max-width: 1366px) {
    .agreement{
        top: 1%;
        left: 16%;
    }
}

/*20117/12/18 by liWijian*/
/*.username{*/
    /*background: url(../../img/images/username.png) no-repeat 10px center;*/
    /*background-size: 23px;*/
/*}*/
/*.password{*/
    /*background: url(../../img/images/password.png) no-repeat 10px center;*/
    /*background-size: 20px;*/
/*}*/
.forget span{
    float: left;
}
.forget span input{
    display: none;
}
.forget span label{
    padding-left: 18px;
    cursor: pointer;
    background: url("../../img/images/unselected.png") left center no-repeat;
}
.forget span input:checked + label{
    background: url("../../img/images/selected.png") left center no-repeat;
}
