/* login */
.w{
    margin: 0 auto!important;
}
/*.bgColor2 {background-color: #f5f5f5}*/
.fst_contanier {
    overflow: hidden;
    padding-bottom: 40px;
}
.article_box {
    padding: 0px 0px 120px;
    overflow: hidden;
    font-family: '黑体';
    font-size: 14px;
    color: #333;
}
.left_folding_menu {
    width: 240px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}
.f_menu_title,.menu_parent>a ,.brand_nav{
    height: 40px;
    width: 100%;
    line-height: 40px;
}.f_menu_title {
    background-color: #cc1a1a;
    color: #fff;
    font-size: 18px;
}
.menu_parent{
    position: relative;
}
.menu_parent label{
    position: absolute;
    right: 15px;
    top:10px;
}
.menu_parent > a{
    font-size: 16px;
    font-weight: 700;
}
.menu_parent>a,.brand_nav{
    background-color: #eaeaea;
    display: block;
    border-bottom: 1px solid #fff;
    color: #333;
    width: 100%;
}
.menu_childList {
    border-bottom: 1px solid #eaeaea;
    background: #f7f7f7;
    height: 30px;
    line-height: 30px;
}
.menu_childList a {

}
.menu_child {
    display: none;
}
.open_childList {
    display: block;
}
.m_up ,.m_down {
    width: 24px;
}
.menu_childList a:hover{ color: #cc1a1a}
.article_container {
    margin-left: 10px;
    overflow: hidden;
    width: 950px;
}
.article_container .brand_nav {  padding: 0px 20px;  }
.article_txt_box {
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
}
.article_txt_box .txt_title {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
}
.article_txt_box {
    width: 100%;
    text-align: left;
}
.article_txt_box .hd {
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 20px;
    position: relative;
    margin-bottom: 20px;
}
.article_txt_box .hd ul {
    float: left;
    position: absolute;
    left: 20px;
    top: -1px;
    height: 32px;
}
.article_txt_box .hd ul li {
    float: left;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px
}
.article_txt_box .hd ul li.on {
    height: 30px;
    color: #cc1a1a
}
.article_txt_box .bd{
    line-height: 30px;
}
/*.article_txt_box .bd h3{*/
     /*text-indent: 2em;*/
 /*}*/
/*.article_txt_box .bd p{*/
    /*!*font-weight: 600;*!*/
    /*text-indent: 2em;*/
/*}*/
/*.article_txt_box .bd ul {*/
    /*padding: 15px;*/
    /*zoom: 1;*/
    /*border: 1px solid #888;*/
/*}*/
/*.article_txt_box .bd li a {*/
    /*display: block;*/
    /*font-size: 14px;*/
    /*line-height: 24px;*/
/*}*/
/*.article_txt_box .bd li a:hover {*/
    /*text-decoration: underline;*/
    /*color: #cc1a1a*/
/*}*/
.prescription,.exchange,.coupon,.cost,.cost,.apply,.process,.brief,.agreement{
    display:none;
}
p{
    margin: 4px 0;
    font-family: "宋体";
    font-size: 14px;
    text-indent: 2em;
    line-height: 28px;
    text-align: justify;
}
h3{
    font-family: "Microsoft YaHei";
    color: #333;
    font-size: 16px;
}
h5{
    color: #BB000D;
    font-size: 14px;
}