@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body{
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 tahoma,arial,Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #666;
    position: relative;
}
ol, ul {list-style: none;}
button {cursor: pointer; outline:none;}
input ,select,textarea{outline:none;}
em,i { font-style: normal}
a:hover{ color: #cc1a1a;text-decoration: none;}
img { border: 0px;}
.w{ overflow: hidden;
    width: 1200px;
    margin: 5px auto;
}
.w1150{
    width: 1150px;
    overflow: hidden;
}
.w600 {
    width: 600px;
    margin: 0px auto;
    overflow: hidden;
}
.w1200 {
    width: 1200px;
    margin: 0px auto;
    height: 100%;
}
#fst_logo {
    height: 126px;
    width: 350px;
    float: left;
    margin-top: 16px;
    margin-left: 42px;
}
#fst_logo a,#fst_logo a img{
    display: block;
    width: 100%;
    height:100%;
}
#fst_header .w1200{ height: 164px; line-height: 108px;overflow: hidden;}
#fst_top img {
    display: block;
    width: 100%;
}
#fst_top_menu {
    height: 32px;
    line-height: 32px;
    background-color: #f1f1f1;
}
#settleup {
    float: left;
    margin-left: 30px;
    margin-top: 55px;
    position: relative;
}
#settleup .cw-icon {
    width: 135px;
    height: 40px;
    background-color: #f9f9f9;
    text-align: center;
    line-height: 40px;
}
.cw-icon {
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
#settleup .dorpdown-layer {
    top: 32px;
    right: 0;
    width: 332px;
}
.dorpdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    z-index: 10;
}
#settleup .prompt { padding: 10px 15px;}
#settleup .nogoods {
    padding-left: 30px;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}
#settleup .nogoods b {
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(//img11.360buyimg.com/uba/jfs/t3571/299/131233948/1117/a1196554/58004d6dN2927f0f7.png);
}
#settleup .ci-count {
    position: absolute;
    top: -7px;
    right: -5px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #B61D1D;
    border-radius: 50%;
    text-align: center;
    width: 18px;
    height: 18px;
    z-index: 66;
}
.cw-icon .car-ico{
    /*background: url(../../img/images/car.png) no-repeat center;*/
    font-size: 24px;
    line-height: 35px;
    width: 20px;
    height: 40px;
    background-size: 20px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    color: #B61D1D;
}
.cw-icon a{
    float: left;
    margin-left: 8px;
    color: #666;
}
.cw-icon .xiala{
    background: url(../../img/images/right.png) no-repeat center;
    width: 6px;
    height: 10px;
    background-size: 6px;
    display: inline-block;
    margin-left: 4px;
}
.dorpdown:hover .cw-icon{
    padding-bottom: 2px;
    border-color: #ccc;
}
#fst_ecode {
    float: right;
    width: 110px;
    height: 110px;
    margin-top: 22px;
}
#fst_ecode img{
    width: 100px;
    height: 100px;
    margin: 0 5px;
}
#fst_ecode p{
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    width: 100px;
    margin: 0px 5px;
    color: #666;
}
#fst_nav {
    border-bottom: 2px solid #cc1a1a;
    width: 100%;
}
#fst_nav .navList{
    width: 100%;
    display: flex;
}
#fst_nav .navList a{
    font-size:16px;
    font-family: MicrosoftYaHei;
    line-height: 48px;
    width:240px;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
}

/* 首页 左侧菜单 */
#fst_cate{
    position: absolute;
    top:48px;
    left:0px;
    width: 240px;
    z-index: 10;
    display: none;
}
#fst_cate .cate_type_dl {
    width: 240px;
    float: left;
    background-color: #fff;
    border: 1px #DDD solid;
}
#fst_cate .cate_type_dl  dt{
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
#fst_cate .cate_type_dl  dt h1{
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url(../../img/images/class.png) no-repeat left 40%;
    background-size: 20px;
}
#fst_cate .cate_type_item {
    width: 240px;
    margin: 0px auto;
    height: 60px;
}
#fst_cate .cate_type_item p {
    line-height: 20px;
    overflow: hidden;
    height: 42px;
}
#fst_cate .cate_type_item p a{
    font-size: 12px;
    margin: 2px 3px 2px 0;
    padding: 0 4px;
    display: inline-block;
    line-height: 16px;
}

#fst_cate .cate_type_title a{
    font-family: "Microsoft YaHei";
    color: #333;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
}
.category_tab_type:nth-child(7) .cate_type_item{border-bottom: 1px solid #fff;}
.category_tab_type.this ,.category_tab_type:hover{
    color: #333;
    background-color: #f1f1f1;
    border-left: 2px solid #CC1A1A
}
.cate_type_title {
    line-height: 60px;
    /*padding-left: 30px;*/
}
.category_tab_type.this .cate_type_title a,
.category_tab_type.this .cate_type_item p a,
.category_tab_type:hover .cate_type_title a ,
.category_tab_type:hover .cate_type_item p a
{
    color: #333;
    cursor: pointer;
}
.cate_type_item p a.on,
.category_tab_type.this .cate_type_item p a.on{
    background: #f90;
    color: #fff;
    border-radius: 3px;
}
.category_tab_content {
    width: 697px;
    height: 502px;
    background-color: #666;
    -webkit-box-shadow:-1px 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow:-1px 0 5px rgba(0,0,0,0.3);
    box-shadow:-1px 0 5px rgba(0,0,0,0.3);
    display: none;
    position: absolute;
    left: 240px;
    top:0px;
    z-index: 3
}
.category_tab_content a{ color: #333; font-size: 12.5px;}
.category_tab_content a:hover ,.cate_type_item p a:hover{ color: #cc1a1a}
.inner_cate_content {
    width: 100%;
    padding-left: 20px;
}
.cate_label { font-size: 13px; color: #fff; width: 42px; margin-top: 15px; position: relative;left: -63px;}
.menu_left ,.menu_right ,.shopinfo{
    float: left;
    height: 100%;
}
.menu_right {
    float: right;
}
.span_block {
    display: block;
    height: 32px;
    margin-right: 20px;
    float: left;
}
.menu_right .span_block {
    float: right;
   /* background: url(../../img/images/gray_down.png) no-repeat right center;*/
    background-size: 10px;
    padding-right: 15px;
    margin-right: 30px;
}
.menu_right a:hover { color: #cc1a1a}
.fst_search {
    float: left;
    margin-left: 74px;
    height: 100%;
    position: relative;
    margin-top: 20px;
}
.fst_search .text {
    padding:0 4px;
    width: 300px;
    height: 36px;
    border: 1px solid #B61D1D;
    line-height: 36px;
    font-size: 14px;
    color: #989898;
    font-family: none;
}
.fst_search .text:focus {
    border: 1px solid #e33233;
    outline:none;
}
.fst_search .button {
    width: 90px;
    height: 36px;
    line-height: 35px;
    border: none;
    background-color: #B61D1D;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-left: -4px;
    font-family: 'MicrosoftYaHei';
    position: relative;
    cursor: pointer;
}
.navList a.this{
    background:url(../../img/images/down.png) no-repeat 85% center #B1191A;
    color: #fff;
    background-size: 13px;
}
#footer,#fst_desc {
    width: 100%;
    overflow: hidden;
}
#fst_desc{
    background-color: #f5f5f5;
}
#fst_copyright {
    padding-bottom: 30px;
    background: #000;
}
.right_block { float: right; height: 100%}
.left_block { float: left; height: 100%}
a{ color: #666; text-decoration: none}
#fst_nav .navList .xx:hover #fst_cate{
    display: block;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img { width: 100%;}

.banner-effect {
    width: 100%;
    height: 502px;
    margin: 0px auto;
}
.banner-effect .swiper-slide img { width: 100%; height: 502px}
.banner-effect .swiper-pagination span {
    width: 12px;
    height: 12px;
    background: none;
    opacity:1;
    text-indent: 99999999px;
    border: 1px solid #B1191A;
}
.banner-effect .swiper-pagination span.swiper-pagination-bullet-active{ background-color: #B1191A;}

.swiper-container1 .swiper-button-prev,.swiper-container1 .swiper-button-next { z-index: 10}
.goodsList .goodsItem{
    width: 228px;
    overflow: hidden;
    display: block;
    float: left;
    margin-right: 15px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}
.goodsList .goodsItem:nth-child(5n) { margin-right: 0px}
.goodsList .goodsItem:hover {border: 1px solid #e33233}
.goodsText { display: block; width: 100%;overflow: hidden}
.goodsImg img {
    width: 204px;
    height: 204px;
    display: block;
    margin: 0px auto;
}
.global-fragment-load {
    margin:0 auto; overflow:
        hidden;padding: 20px 0 20px 0;}
#fst_desc dl {
    float: left;
    width: 25%;
    padding-left: 100px;
}
#fst_desc dl:nth-child(5) {
    width: 250px;
}
#fst_desc dl dt {
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #333;
    margin-left: 20px;
    display: inline-block;
}
#fst_desc dl dd {
    margin-top: 6px;
    width: 200px;
}
#fst_desc dl a {
    display: block;
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #666;
}
#fst_desc dl a:hover { color:#cc1a1a;}

.footer_fstinfo { text-align: center;color: #C3C3C3;}
.footer_fstinfo a { margin: 0px 20px}
.footer_fstinfo a:hover { color:  #cc1a1a}
.footer_fstinfo p { line-height: 24px;}
.map_link a,.fst_copyright {  font-size: 14px;}
.fst_link { margin-top: 20px;}
.dc{
    /*background: url(../../img/images/dclogo.png) no-repeat 45% center;*/
    /*background-size: 18px;*/
    /*line-height: 20px;*/
    /*padding-left: 50px;*/
    color: #C3C3C3;
}
.dc .iconfont{
    font-size: 20px;
    margin: 0 20px;
    position: relative;
    top: 2px;
}
/* 弹出框*/
.fullbg {
    background-color:gray;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    z-index:9998;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
}
.floorlist ,.floorItem,.floorItem_container {
    overflow: hidden;
    margin: 0px auto;
}
.floorItem { padding-bottom: 20px;}
.floorItem_title{
    margin: 0px auto 10px;
}
.floor1 .floorItem_title .floor_title_sub {
    font-size: 20px;
    line-height: 42px;
    color: #333;
    letter-spacing: 2px;
}

/*公共右侧弹出的菜单列*/
.right_slide_window {
    position: fixed;
    height: 100%;
    width: 36px;
    background-color: #fff;
    color: #000;
    right: 0px;
    z-index: 10;
    top:0px;
    border-left: 1px solid #ccc;
}
.inner_func_menu {
    position: relative;
    top:10%;
    text-align: right;
}
.inner_func_menu a{
    text-align: center;
    width: 36px;
    display: block;
    padding: 0px 0px 10px;
}
.icon_menu{
    margin-bottom: 5px;
}
.inner_func_menu a.to_back {
    height: 30px;
    padding:0px;
    margin-top: 50px;
}
.icon_menu a label {
    display: block;
    width: 15px;
    margin-left: 11px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.icon_menu:not(:last-child) :hover {
    background-color: #df1214;
}
.icon_menu a i{
    font-size: 24px;
    color: #df1214;
}
.icon_menu:hover .user_intro, .icon_menu:hover .iconfont{
    color: #fff;
}
.icon_menu:hover .to_back{

}
.icon_menu a.to_back{
    /* background: url(../../img/images/up.png) no-repeat center 5px #eee; */
    background: #FD9898;
    /* background-size: 8px; */
    border-radius: 5px;
    margin: 0 5px;
    width: 25px;
    height: 25px;
}
.icon_menu a.to_back i{
    color: #f84d4d;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    bottom: -6px;
    right: 5px;
}
.left_slide_window {
    position: fixed;
    width: 30px;
    top: 280px;
    left: 280px;
    z-index: 2;
    display: none;
}
.left_slide_window .inner_menu div {
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border-radius:4px;
    background-color: #CCC;
    margin-bottom: 5px;
    cursor: pointer;
}
.inner_menu div span { display: none;font-size: 14px;}
.inner_menu div img { width: 30px; height: 30px; display: inline-block; padding:5px;}
.inner_menu div a{ font-size: 24px;}
.inner_menu div:hover,.inner_menu div.select{ background-color: #b1191a; color: #fff; font-size: 16px;}
.inner_menu div:hover img ,.inner_menu div.select img{ display: none;}
.inner_menu div:hover span ,.inner_menu div.select span{ display: block;}
.floorItem_brand_img { overflow: hidden; position: relative; width: 100%; height: 360px;}
.floorItem_brand_img .brand_img{ width: 700px; height: 360px;  display: block; position: absolute; top: 0px;transition:left 1s;
    -moz-transition:left 1s;
    -webkit-transition:left 1s;
    -o-transition:left 1s;}
.brand_img img{ display: block; width: 100%; height: 100%;}
.brand_img1 {left:0px;}
.floorItem_brand_img .brand_img1:hover + .brand_img2 {left:700px;}
.floorItem_brand_img .brand_img1:hover + .brand_img2  + .brand_img3 { left: 950px;}
.brand_img2 {left: 250px;}
.floorItem_brand_img .brand_img2:hover {left:250px;}
.floorItem_brand_img .brand_img2:hover + .brand_img3 {left: 950px;}
.brand_img3 {left:500px;}
.other_title {
    position: absolute;
    right: 10px;
    top:5px;
    color: #666;
    font-size: 14px;
}
.other_title label { padding: 0px 10px; cursor: pointer;}
.other_title label:hover { color: #df1214; text-decoration: underline;}
.floorItem_title_img { display: block; width: 24px; height: 24px; margin-left: 20px; margin-right: 5px;float: left; margin-top: 16px;}

/*分类  by Li Weijian*/
/*.local{
    font-size: 12px;
    color: #000;
    !*background: url(../../img/images/home.png) no-repeat left center;*!
    !*background-size: 21px;*!
    !*padding-left: 23px;*!
    margin-bottom: 10px;
}
.local a{
    color: #8B8B8B;
}
.local a:hover{
    color: #cc1a1a;
    text-decoration: underline;
}*/
.sub-title{
    position: relative;
    width: 1200px;
    margin: 16px auto;
    height: 100%;
}
.sub-title .present{
    color: #666;
}
.sub-title .present:hover{
    color: #666;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

/*设置商品列表的样式*/
.list_main{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
.gl-warp-large{
    overflow: hidden;
    margin-bottom: 40px;
}
#goods_list ul {
    width: 100%;
    height: 100%;
    float: left;
    padding: 2px;
}

#goods_list ul .gl-item {
    text-align: center;
    width: 299px;
    float: left;
    border: 1px solid #ececec;
    padding: 0 10px;
    border-left: none;
    border-top: none;
}
#goods_list ul li:nth-child(4n+1){
    border-left: 1px solid #ececec;
}

.gl-i-wrap .p-img {
    width: 100%;
    height: 245px;
    margin-top: 10px;
}

.gl-i-wrap .sider {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.gl-i-wrap .p-name {
    margin-top: 6px;
}

#goods_list .gl-i-wrap .p-name{
    overflow: hidden;
    display: block;
    color: #000;
    text-align: left;
    height: 36px;
    text-overflow: ellipsis;
}
#goods_list ul .gl-item:hover p{
    color: #cc1a1a;
    text-decoration: underline;
}
#goods_list ul .gl-item .list_spn{
    float: left;
    margin-top: 2px;
    padding: 0 8px;
    border-radius: 5px;
    font-size: 1.35rem;
    color: #FFFFFF;
    text-align: left;
    font-family: HiraginoSansGB-W3;
    background: rgba(220,0,0,0.7);
}
#goods_list ul .gl-item .list_car{
    color: #e33233;
    float: right;
    background: url(../../img/images/list_car.png) no-repeat left center;
    font-size: 14px;
    padding-left: 27px;
    line-height: 27px;
    background-size: 19px;
    cursor: pointer;
}

.gl-i-wrap .p-lie {
    overflow: hidden;
    width: 100%;
    line-height: 30px;
    margin-top: 8px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.gl-i-wrap .p-lie .p-price {
    color:#e33233;
    font-weight: bold;
}
.gl-i-wrap .p-lie span{
    color: #999;
    float: right;
    font-size: 12px;
    text-decoration: line-through;
}
.select {
    height: auto;
    border: 1px solid #eaeaea;
    background-color: #f6f6f6;
    position: relative;
}
.select .brandS {
    border: none;
    border-top: 1px dotted #ccc;
    width: 100%
}
.brandS{
    overflow: hidden;
    background: #f6f6f6;
}
.select .title {
    width: 115px;
    overflow: hidden;
    float: left;
    display: inline-block;
    color: #cf010e;
    line-height: 40px;
    margin-left: 15px;
}
.brandS .frameR{
    background: #fff;
    overflow: hidden;
    display: inline-block;
    height: auto;
    border-bottom: none;
    width: 1068px;
}

.select .brandAll{
    margin: 10px 0 5px 8px;
    width: 100%;
    margin-bottom: 4px;
    overflow: hidden;
}
.brandAll li{
    width: 76px;
    height: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    display: inline-block;
    overflow: hidden;
}
.brandAll li a {
    padding: 2px 5px;
    color: #666;
}
.brandAll li a:hover,.brandAll li.on a {
    text-decoration: none;
    background-color: #cf010e;
    color: #fff;
}

/*设置商品列表中的图片的样式*/
#goods_list .imageul {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#goods_list .imageul li {
    width: 30px;
    border: 1px solid #d2d2d2;
    padding: 1px;
    background: #fff;
    margin-right: 2px;
    cursor: pointer;
}

#goods_list .imageul li:hover {
    border-color: #f42424;
}

/*浮动窗口在笔记本的自适应*/
@media only screen and (max-width: 1366px){
    .left_slide_window{
        top: 160px;
        left: 10px;
    }
    .banner-effect,.banner-effect .swiper-slide img{
        height: 350px;
    }
}

#searchForm .slogan{
    position: absolute;
    width: 175px;
    height: 30px;
    top:5px;
}
#searchForm .slogan img{
    width: 100%;
    height: 100%;
}


/*列表页排序*/
.paixu .desc{
    float: left;
    width: 60px;
}
.fSort{
    float: left;
    line-height: 36px;
    border: none;
    z-index: 9;
    position: relative;
    display: inline-block;
    margin-left: 12px;
    overflow: hidden;
    color: #806f66;
    cursor: pointer;
    padding-right: 10px;
}
.desc i{
    position: absolute;
    overflow: hidden;
    display: inline-block;
}
.fSort i{
    top: 6px;
    right: 0px;
    width: 7px;
    height: 10px;
    line-height: 10px;
    border: 4px solid transparent;
}
i.f-ico-triangle-mt{
    border-bottom: 4px solid #806F66;
    top: 9px;
    height: 0;
    width: 0;
}
i.f-ico-triangle-mb{
    border-top: 4px solid #806F66;
    top: 20px;
}
a.fSort-cur{
    color: #ff0036;
}
.f-ico-triangle-mt.i-cur{
    border-bottom-color: #ff0036;
    background: #F1EDEC;
}
.f-ico-triangle-mb.i-cur{
    border-top-color: #ff0036;
    background: #F1EDEC;
}

/*列表，没找到商品*/
.nofind{
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.nofind img{
    width: 200px;
}
.nofind p{
    line-height: 60px;
}

/*覆盖优惠券样式*/
.youhuiquan ul li{
    float: left;
    width: 296px;
}
.stamp{
    width: 97%;
    padding: 0 42px;
}
.stamp .par{
    width: 50%;
    right: 30px;
}
.stamp .par span{
    margin-right: 5px;
    width: 50%;
}

.stamp div {
    position: relative;
    z-index: 1;
    color: #fff;
}
.stamp .copy{
    padding: 6px 12px;
}
.stamp .copy .copy_title em{
    margin-right: 4px;
}
.floor_more_coupon{
    position: absolute;
    display: inline-block;
    height: 25px;
    right: 19px;
    top: 0;
    color: #ff0036;
    border-radius: 12px;
    border: 1px solid #ff0036;
    padding: 0px 20px;
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
}
.floor_more_coupon:hover{
    border-radius: 0px;
    opacity: 0.8;
}
.stamp .copy .q_lingqu{
    float: left;
    padding: 0 10px;
    color: #211f1f;
    background: #FFF;
    border: #FFF;
    border-radius: 2px;
    box-shadow: 0px 4px 10px 1px #821313;
    cursor: pointer;
}
.stamp .copy .q_lingqu:hover{
    background: #f2e260;
}
.youhuiquan{
    width: 1200px;
    height: 130px;
}


/*2017-12-02*/
.advertFloors{
    margin-top: 30px;
}
.floor1 .floorItem_container{
    width: 100%;
    position: relative;
    height: 151px;
    padding-right: 32px;
}
.floor1 .floorItem_container .swiper-wrapper{
    width: 90%;
    margin: 0 auto;
    height: 151px;
    display: -webkit-inline-box;
    margin-left: 17px;

}
.floor1 .floorItem_container .swiper-wrapper .swiper-slide{
    background: url(../../img/images/youhui.png) no-repeat center;
    width: 320px;
    height: 151px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
    display: block;
}
.floor1 .floorItem_container .swiper-wrapper .swiper-slide:last-child{
    margin-right: 0;
}
.swiper-button-next,.swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23855e33'%2F%3E%3C%2Fsvg%3E");}
.swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23855e33'%2F%3E%3C%2Fsvg%3E");}
.youhui-top{
    margin: 0 auto;
    margin-top:10px;
    width: 208px;
    color: #936C40;
    overflow: hidden;
    height: 90px;
}
.youhui-top p{
    font-size: 26px;
    float: left;
}
.youhui-top p em{
    font-size: 5rem;
    font-family: "微软雅黑";
}
.youhui-top span{
    float: right;
    font-size: 14px;
    line-height: 23px;
    margin-top: 22px;
    text-align: left;
}
.floor1 .floorItem_container .swiper-wrapper .swiper-slide a{
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    display: block;
    color: #936C40;
    background: #F2E4CE;
    width: 321px;
    margin: 0 auto;
}
.floor1 .floorItem_container .swiper-wrapper .swiper-slide a:hover{
    color: #855e33;
    background: #e2cba7;
}
.advertFloors .floorItem_title{
    position: relative;
    color: #666;
    margin: 0px;
    text-align: center;
}
.advertFloors .floorItem_title h1{
    width: 148px;
    height: 40px;
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}
.advertFloors .floorItem_title p{
    line-height: 36px;
    font-size: 13px;
}
.left_advert{
    width: 290px;
    height: 410px;
}
.floorItem_classification{
    overflow: hidden;
}
.floor_goodsList li a{
    display: block;
}
.floor_goodsList li{
    width: 290px;
    height: 410px;
    overflow: hidden;
    float: left;
    text-align: center;
    background: #fff;
    margin-right: 13px;
    margin-top: 14px;
}
.floor_goodsList li:first-child img{
    width: 290px;
    height: 410px;
}
.floor_goodsList li:nth-child(4n){margin-right: 0;}
.floor_goodsList li .item_img{
    width: 290px;
    height: 272px;
    background: #F5F5F5;
    overflow: hidden;
    position: relative;
}
.floor_goodsList li .item_img span{
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 1.4rem;
    color: #FFFFFF;
    font-family: HiraginoSansGB-W3;
    padding: 4px 10px;
    background: rgba(220,0,0,0.7);
    border-radius: 4px;
}
.floor_goodsList li .item_img img{
    transition: all 2s;
    width: 290px;
    height: 272px;
}
.floor_goodsList li p{
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.floor_goodsList li .item_ti{
    font-size: 14px;
    color: #333;
    line-height: 30px;
    margin-top: 14px;
    font-weight: bold;
}
.floor_goodsList li .item_detail{
    font-size: 12px;
    color: #999;
    line-height: 36px;
}
.floor_goodsList li h3{
    font-size: 16px;
    color: #B1191A;
    line-height: 41px;
    display: inline-block;
    border-top: 1px solid #ccc;
    padding: 0 10px;
    font-weight: bold;
}
.floor_goodsList li:hover .item_img img{transform: scale(1.1);}
.floor_goodsList li:hover .item_ti{
    color: #B74646;
}
.advertFloors .more{
    margin-top: 20px;
}
.advertFloors .more a{
    width: 105px;
    height: 39px;
    border: 1px solid #999;
    line-height: 39px;
    text-align: center;
    color: #333;
    font-size: 14px;
    display: block;
    margin: 0 auto;
}
.advertFloors .more a:hover{
    border: 1px solid #B74646;
    color: #B74646;
}
.four_ico{
    width: 100%;
    overflow: hidden;

}
.four_ico ul{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #D7D4D4;
    padding-bottom: 22px;
    padding-top: 24px;
}
.four_ico ul li{
    float: left;
    flex: 1;
    padding-left: 55px;
}
.four_ico ul li img{
    width: 49px;
    height: 43px;
    float: left;
    margin-right: 11px;
    float: left;
    display: block;
}
.four_ico ul li .four_tit{
    float: left;
    border-left: 1px solid #e0e0e0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.four_ico ul li .four_tit h3{
    color: #e25862;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.four_ico ul li .four_tit p{
    color: #313030;
    font-size: 13px;
    line-height: 20px;
}
.four_ico ul li span{
    color: #333;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 1px;
}


/*列表页加购物车*/
.pb .cboxContent {
    /* width: 532px; */
    /*height: 355px;*/
    background-color: white;
}
.pb-hd {
    position: relative;
    padding: 0 16px;
    height: 31px;
    line-height: 31px;
    /* background: #f3f3f3; */
}
/*.pb-hd .pb-x {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 100000;
    top: 10px;
    right: 16px;
    overflow: hidden;
    width: 13px;
    height: 13px;
    background: url(../images/purebox/dialog.png) no-repeat;
    font-size: 0;
    text-indent: -99999px;
}*/
.pb-hd .pb-title {
    font-weight: normal;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei";
}
.pb-bd {
    padding: 10px;
    overflow: auto;
    /* background: #fff; */
    position: relative;
}
#loginDialogBody .login-wrap {
    height: auto;
}
.ecsc-cart-popup {
    display: none;
    position: relative;
    z-index: 100003;
}
.ecsc-cart-popup .loading-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: none;
}
.ecsc-cart-popup .loading {
    background-color: #fff;
    border: 8px solid #bcbcbc;
    position: fixed;
    width: 455px;
    display: none;
}
.loading .title {
    position: relative;
    padding: 0 16px;
    height: 31px;
    line-height: 31px;
    background: #f3f3f3;
}
.loading .title h3 {
    font-weight: normal;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei";
    float: left;
}
.loading .title .loading-x {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1000000;
    top: 10px;
    right: 16px;
    overflow: hidden;
    width: 13px;
    height: 13px;
    background: url(http://www.farsightwine.com/themes/ecmoban_dsc2017/images/dialog.png) no-repeat;
    font-size: 0;
    text-indent: -99999px;
    float: right;
}
.center_pop_p {
    display: block;
    width: 100%;
    height: auto;
    background: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: "Microsoft YaHei";
}
.center_pop_p .ts {
    font-size: 18px;
    color: #ec5051;
    font-weight: 700;
}
.center_pop_p .desc {
    color: #777;
    line-height: 20px;
    margin-top: 8px;
}
.center_pop_p .desc strong {
    font-weight: normal;
}
.center_pop_p .desc .saleP {
    font-size: 18px;
    color: #666;
    font-weight: bold;
}
.loading .btns {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.loading .btns .ecsc-btn-mini {
    height: 28px;
    line-height: 28px;
    border: 1px solid #dcdcdc;
    width: 88px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    color: #333;
    font-family: "Microsoft YaHei";
}
.loading .btns .ecsc-btn-orange {
    border-color: #f99c00;
    background-color: #f99c00;
    color: #fff;
    margin-right: 15px;
}

/*列表页排序*/
.paixu{
    border:1px solid #ccc;
    background-color: #f7f5f5;
    width: 100%;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.paixu h3{
    color: #B61D1D;
    font-size: 13px;
    width: 86px;
    border-right: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    float: left;
}
.paixu span{
    float: left;
    color: #6d6d6d;
    font-size: 12px;
    line-height: 36px;
    /*width: 60px;*/
    text-align: center;
    cursor: pointer;
    padding: 0 20px;
}
.paixu span.active{
    color: #B61D1D;
    font-size: 13px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right:1px solid #ccc;
}
.price_range{
    float: left;
}
.price_range span{
    overflow: hidden;
    border: 1px solid #ccc;
    text-align: left;
    height: 25px;
    margin-top: 5px;
    line-height: 23px;
    background: #fff;
    cursor: pointer;
    padding: 0;
}
.price_range span input{
    width: 43px;
    border:none;
}
.price_range i{
    float: left;
    margin: 0 3px;
}
.price_range span input[type=number] {
    -moz-appearance:textfield;
}
.price_range span input[type=number]::-webkit-inner-spin-button,
.price_range span input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.price_range .price_range_enter{
    border: none;
    background: none;
    margin-left: 10px;
}
.paixu span:hover,.paixu span.active_index{
    color: #ff0036;
}

/*2017/12/20 优惠券弹框*/
.mask-bg{
    width: 100%;
    background: rgba(0,0,0,0.53);
    height: 100%;
    position: absolute;
    z-index: 85;
    display: none;
}
.youhui-msg{
    position: absolute;
    left: 38%;
    top:30px;
    z-index: 99;
    width: 293px;
    height: 172px;
    background-color: #fffeec;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow-y: hidden;
    display: none;
}
.youhui-msg .top-tips{
    width: 100%;
    background-color: #e16039;
    position: relative;
}
.youhui-msg .top-tips span{
    color: #fffeec;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    display: block;
}
.youhui-msg .top-tips i{
    background: url(../../img/images/youhui_close.png) no-repeat center;
    background-size: 14px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 14px;
    height: 14px;
    z-index: 105;
    cursor: pointer;
}
.youhui-msg h3{
    font-size: 20px;
    color: #333;
    line-height: 130px;
    text-align: center;
}
/*底部*/
