@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 tahoma,arial,Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #666;
    position: relative;
}
ol, ul {list-style: none;}
button {cursor: pointer; outline:none;}
input ,select,textarea{outline:none;}
em,i { font-style: normal}
a{text-decoration: none;color: #333;}
a:hover{ color: #cc1a1a}
img { border: 0px;}
.mm{
    width: 1200px;
    margin: 0 auto;
    background: #f6f6f6;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 150px;
}
#sub {
    float: left;
    position: relative;
    /*border: 1px solid #CCC;*/
}

#menu {
    width: 160px;
    /*padding-left: 21px;*/
}
#menu dl {
    padding-bottom: 15px;
}
#menu dl dt {
    height: 28px;
    line-height: 28px;
    color: #333;
    font-weight: 700;
}
#menu dl dd {
    color: #666;
    line-height: 24px;
}
#menu dl dd a {
    color: #777;
}
.content{
	width: 980px;
    margin: 0 auto;
    /*float: left;*/
    /*margin-top: 20px;*/
    /*margin-left: 80px;*/
}
.content-title{
	padding: 10px 20px 20px;
	margin-bottom: 20px;
	background-color: #fff;
}
.content-title h3{
	font-size: 12px;
	color: #666;
	line-height: 18px;
}
.mod-main{
	background-color: #fff;
}
.mt{
	padding: 10px 0;
	overflow: hidden;
}
.mt ul{
	float: left;
}
.mt ul li{
	padding-right: 20px;
	float: left;
}
.mt .extra-l li a{
	display: inline-block;
	vertical-align: middle;
	color: #333;
}
.mt .extra-l li a.curr{
	padding-bottom: 0;
	color: #cc1a1a;
	border-bottom: 2px solid #cc1a1a;
	font-weight: bold;;
	cursor: pointer;
	text-decoration: none;
}
.mt .extra-l li em {
	position: relative;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    font-family: arial;
    top: -5px;
    padding: 0 4px;
    background: #e4393c;
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
    margin: 0 0 0 2px;
    _position: static;
}
.order-tb thead th{
	height: 32px;
	line-height: 32px;
    text-align: center;
    background: #f5f5f5;
    color: #666;
    font-weight: 400;
}
table {
    border-collapse: collapse;
}
.mc{
	width: 100%;
}
.mc table{
	width: 100%;
}
.order-tb .tr-th {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}
.order-tb .sep-row {
    height: 20px;
}
.order-tb .sep-row td {
    border: 0;
}
.order-tb .tr-th-split td {
    border-bottom: none;
}
.order-tb tbody td {
    border: 1px solid #e5e5e5;
}
.order-tb .tr-th span {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 0;
    _display: inline;
}
.order-tb .tr-th-split .split-row {
    position: relative;
    top: 1px;
    padding: 9px 0;
    /*height: 18px;*/
    width: 100%;
    float: left;
    margin: 1px 0 0;
    border-bottom: 1px solid #e5e5e5;
}
.order-tb .tr-th .gap {
    width: 14px;
}
.order-tb .tr-th .dealtime{
	margin-right: 30px;
	font-family: verdana;
}
.order-tb .tr-th .number {
    /*width: 226px;*/
    font-family: verdana;
}
.order-tb .tr-th .tr-operate {
    float: right;
    position: relative;
    margin-right: 15px;
    width: 397px;
    height: 23px;
}
.root61 .order-tb .tr-th .tr-operate {
    width: 608px;
}
.order-tb .tr-th-split span.fr {
    float: right;
}
.order-tb .tr-th-split .split-row02 {
    position: relative;
    color: #393941;
}
.order-tb .tr-th-split .order-consignee {
    width: 128px;
    margin-right: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.order-tb .tr-th-split .order-count em {
    font-family: verdana;
}
.order-tb .tr-th-split .order-pay {
    width: 178px;
}
.order-tb .tr-th-02 {
    background: #fff;
}
.order-tb .tr-bd {
    text-align: center;
    vertical-align: top;
}
.order-tb tbody.split-tbody .tr-th td {
    border-width: 0 1px;
}
.order-tb .tr-bd td {
    padding: 14px 0;
}
.order-tb tbody.split-tbody .tr-bd td {
    border-width: 0 1px;
    background: url(../../img/split-line.png) -14px 0 no-repeat;
    padding: 14px 11px;
}
.order-tb .goods-item {
    display: inline-block;
    display: block;
    float: left;
    width: 310px;
    /*margin-right: 74px;*/
}
.order-tb .goods-item .p-img {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #efefef;
    margin: 0 14px;
    _display: inline;
    overflow: hidden;
}
.order-tb .goods-item .p-msg {
    float: left;
    width: 220px;
}
.order-tb .goods-item .p-name {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    color: #333;
    text-align: left;
}
.order-tb .goods-item .p-name a {
    color: #333;
}
.order-tb .goods-number {
    float: left;
    width: 70px;
    text-align: left;
    color: #aaa;
    font-family: verdana;
}
.order-tb .consignee b {
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(../../img/order-icons.png) 0 -24px;
    vertical-align: middle;
    margin: 0 0 0 5px;
}
.order-tb .goods-repair {
    float: right;
    width: 100px;
    text-align: center;
}
.order-tb .tooltip {
    position: relative;
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
}
.order-tb .amount {
    color: #aaa;
    width: 97px;
}
.order-tb .amount .ftx-13 {
    display: block;
    margin: 0 8px;
    margin-top: 5px;
    padding-top: 1px;
    border-top: solid 1px #E5E5E5;
    line-height: 19px;
    height: 19px;
    overflow: hidden;
    color: #aaa;
}
.order-tb .status {
    position: relative;
    z-index: 5;
    color: #333;
    line-height: 22px;
    width: 93px;
}
.order-tb .status a {
    color: #333;
}
.order-tb .operate {
    line-height: 22px;
}
a.btn-again {
    display: inline-block;
    padding: 2px 0 3px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 2px;
    width: 85px;
    text-align: center;
}
.order-tb tbody.split-tbody .sep-tr-bd {
    height: 1px;
    overflow: hidden;
}
.order-tb tbody.split-tbody .sep-tr-bd td {
    padding: 0;
}
