@font-face {
    font-family: 'iconfont';  /* project id 466182 */
    src: url('http://at.alicdn.com/t/font_466182_othtbbepmck81tt9.eot');
    src: url('http://at.alicdn.com/t/font_466182_othtbbepmck81tt9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_466182_othtbbepmck81tt9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_466182_othtbbepmck81tt9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_466182_othtbbepmck81tt9.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 466182 */
    src: url('http://at.alicdn.com/t/font_466182_00bimf1ozeqoxbt9.eot');
    src: url('http://at.alicdn.com/t/font_466182_00bimf1ozeqoxbt9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_466182_00bimf1ozeqoxbt9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_466182_00bimf1ozeqoxbt9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_466182_00bimf1ozeqoxbt9.svg#iconfont') format('svg');
}

@font-face {
    font-family: 'iconfont';  /* project id 466182 */
    src: url('http://at.alicdn.com/t/font_466182_3rsc505b0yffxbt9.eot');
    src: url('http://at.alicdn.com/t/font_466182_3rsc505b0yffxbt9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_466182_3rsc505b0yffxbt9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_466182_3rsc505b0yffxbt9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_466182_3rsc505b0yffxbt9.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 466182 */
    src: url('http://at.alicdn.com/t/font_466182_rpwexw2asvfmkj4i.eot');
    src: url('http://at.alicdn.com/t/font_466182_rpwexw2asvfmkj4i.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_466182_rpwexw2asvfmkj4i.woff') format('woff'),
    url('http://at.alicdn.com/t/font_466182_rpwexw2asvfmkj4i.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_466182_rpwexw2asvfmkj4i.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 466182 */
    src: url('http://at.alicdn.com/t/font_466182_on6di4u9rxr8jjor.eot');
    src: url('http://at.alicdn.com/t/font_466182_on6di4u9rxr8jjor.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_466182_on6di4u9rxr8jjor.woff') format('woff'),
    url('http://at.alicdn.com/t/font_466182_on6di4u9rxr8jjor.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_466182_on6di4u9rxr8jjor.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 466182 */
    src: url('http://at.alicdn.com/t/font_466182_fg8bm3qh8yzoxbt9.eot');
    src: url('//at.alicdn.com/t/font_466182_fg8bm3qh8yzoxbt9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_466182_fg8bm3qh8yzoxbt9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_466182_fg8bm3qh8yzoxbt9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_466182_fg8bm3qh8yzoxbt9.svg#iconfont') format('svg');
}
.iocf{
    font-weight:700;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: none;
    text-decoration: none;
}
li{
    list-style: none;
}
em{
    font-weight: normal;
    font-style: normal;
}
dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
body {
    font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
    -webkit-font-smoothing: antialiased;
    /*color: #666;*/
    /*background: rgb(244,244,244);*/
}

#content {
    padding-left: 104px;
    display: block;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFF;
}
#content:after{
    content:".";
    display: block;
    clear:both;
    height:0;
    visibility: hidden;
}
#sub {
    float: left;
    width: 262px;
    position: relative;
    left: -100px;
    border: 1px solid #E8E4E3;
}

#menu {
    width: 160px;
}
#menu dl {
    padding-bottom: 15px;
}
#menu dl dt {
    height: 28px;
    line-height: 28px;
    color: #333;
    font-weight: 700;
}
#menu dl dd {
    color: #666;
    line-height: 24px;
}
#menu dl dd a {
    color: #777;
}
.part {
    float: left;
    width: 84%;
    margin-left: -90px;
    overflow: hidden;
}
.hidden{
    display: none!important;
}
/*改版样式 首页*/
.part{
    color:#333333;
}
.user-header{
    padding: 15px 16px;
    align-items: center;
    background-color: #F7F5F5;
    margin-bottom:20px;
}
.user-header h4{
    width:100%;
    height:30px;
    color:#B1191A;
    font-size:15px;
    border-bottom: 1px solid #E6E2E1 ;
    font-family:MicrosoftYaHei;
    line-height:15px;
}
.user-header p{
    margin: 10px 0px;
    font-size: 1.17rem;
    font-family: Microsoft YaHei;
}
.user-header ul{
    /*width:100%;*/
    height: 35px;
    margin-top: 10px;
}
.user-header .rec-list{
    height: 75px;
    width: 500px;
}
.user-header .rec-list li{
    margin: 0px 12px 10px;
    width: 70px;
    height: 25px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background: #FFF;
    color: #747070;
    text-align: center;
    cursor: pointer;
}
.user-header .rec-list li:hover, .user-header .rec-list li.selected{
    border: 1px solid #F76955;
    color: #F76955;
}
.user-header li{
    float: left;
    font-size: 14px;
    margin-right: 60px;
}
.user-header ol{
    margin-bottom:20px;
}
.user-header .ul_span span, .user-header .ol_span span{
    color:#B1191A;
}
.user-info .acco-info{
    margin-bottom:20px;
}
.user-info .acco-info{
    font-size: 15px;
}
.user-info .acco-info li{
    padding:10px 0;
}
.user-info .acco-info li p {
    display: inline-block;
}
.user-info .acco-info .iconfont{
    font-size: 22px;
}
.user-info .mod-main2 span{
    font-size: 25px;
}
/*订单信息*/
.indent{
    display: none;
}
.indent .user-header p{
    margin-top: 15px;
    font-size: 1.17rem;
    font-family: MicrosoftYaHei;
}
.indent .user-header ul{
    height: 86px;
    color: #333333;
    margin: 15px 0px 0px;
    padding-left: 70px;
    border-bottom: 1px solid #E6E2E1;
}
.indent .user-header .hearer-list{
    color: #EE654A;
}
.indent .user-header li{
    margin-right: 0px;
}
.indent .user-header .list-icon{
    font-size: 30px;
}
.indent .user-header .list-font{
    margin-bottom: 20px;
    position: relative;
    top: -6px;
    left: 0px;
}
.indent .user-header li p{
    display: block;
    margin: 0px -13px
}
.indent .user-header em{
    position: relative;
    top: -9px;
    left: 0px;
    letter-spacing: 4px;
}
.indent .user-center{
    font-size: 14px;
    background-color: #F7F5F5;
    margin-top: -25px;
    padding-bottom: 10px;
}
.indent .user-center ol{
    margin-left: 20px;
    float: left;
    margin-top: 7px;
    margin-right: 122px;
    border-left: 2px solid #ccc;
}
.indent .user-center ol li{
    float: none;
    width: 5px;
    height: 4px;
    margin: 0px 0px 27px -3px;
    background: #666;
    border-radius: 50%;
}
.indent .user-center ol .center-liha{
    background:#EE654A;
}
.indent .user-center ol .center-libo{
    margin-bottom: 0px;
}
.indent .user-center ul span{
    margin-left: -77px;
}
.indent .user-center ul li{
    font-size: 1.17rem;
    color: #333333 ;
    margin-bottom: 10px;
    margin-left: 14px;
}

.carId{
    border:1px solid red;
    display: inline-block;
    padding:1px 5px ;
    color:red;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    /*margin-left:5px;*/
    cursor: pointer;
}

.share_box{
    width: 400px;
    height: 625px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    background: url(../../img/bu_shareus.png) no-repeat center;
    background-size: 100%;
}
.share_container{
    /*border-radius:15px;*/
    overflow: hidden;
    width: 88%;
    position: absolute;
    margin: 6%;
}
.share_box .vip_card{
    /*background: url(../../img/images/vipCard.jpg) no-repeat center top;*/
    background: url(../../img/shareus_vip.png) no-repeat center top;
    width: 100%;
    /* background-size: 100% 100%; */
    height: 220px;
    background-size: 100%;
    position: relative;
}
.share_box .vip_card p{
    color:#f0f0f0;
    font-size:13px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
}
.share_box .vip_card .iconfont{
    font-size: 25px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.share_box .vip_card .member_grade{
    margin-right: 40px;
}
.share_box .vip_erweima{
    /*background-color: white;*/
    /* padding: 10px 0; */
    overflow: hidden;
    text-align: center;
    padding-bottom: 0;
    margin: 20px 0;
}
.share_box .vip_erweima p{
    font-size: 14px;
    /*font-weight: 700;*/
    /*letter-spacing: 2px;*/
    /*margin-bottom: 5px;*/
    width: 84%;
    margin: 5px auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.vip_erweima p em{
    font-weight: 700;
}
.share_box .vip_erweima .vip-text{
    margin: 12px 0;
    width: 100%;
}
.share_box .vip_erweima .erweimadiv{
    width: 100%;
    height: 210px;
    overflow: hidden;
    margin-top: 30px;
}
.share_box .vip_erweima div img{
    width: 80%;
}
.share_box .vip_erweima .tiaoxingmadiv{
    height:80px;
    overflow: hidden;
}
.carId_mb{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display: none;
    background-color: rgba(0,0,0,0.3);
    z-index:10;
}

.saveInfoBtn{
    width: 80px;
    height: 30px;
    margin-left: 80px;
    cursor: pointer;
}
.n-title{
    position: relative;
    margin: 0px auto;
    padding: 4px 0;
    width: 90%;
    border-bottom: 1px solid #E8E4E3;
    font-size: 18px;
    color: #C24E4E;
}
.n-title.right-title{
    width: 100%;
}
.u-pic img{
    margin: 0 auto;
    cursor: pointer;
}
.u-pic-mask{
    position: relative;
    bottom: 100px;
    text-align: center;
    line-height: 100px;
    background: #000;
    color: #FFF;
    opacity: 0.4;
    cursor: pointer;
}

/*地址管理*/
#edit_address{
    z-index: 100006;
    width: 900px;
    height: 500px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: block;
}
#pb-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    z-index: 100002;
    display: none;
}
.mod-comm {
    padding: 0px 16px;
}
.mod-comm .mt {
    padding: 5px 0
}
.mod-comm .mt h3 {
    font-size: 12px;
    color: #666;
    font-family: '\5b8b\4f53';
    line-height: 18px
}
.mod-comm .mc {
    line-height: 20px
}
.mod-comm .smt-01 {
    background: #f5f5f5;
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    margin-top: 10px
}
.mod-comm .smc-01 {
    border: 1px solid #f2f2f2;
    padding: 20px 20px 10px
}
.mod-comm .extra-r a.btn-close {
    color: #333
}
.mod-comm .extra-r a.btn-close b {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url(//misc.360buyimg.com/user/myjd-2015/css/i/icon2.png) 0 -58px no-repeat;
    width: 7px;
    height: 5px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 5px
}
.mod-comm .extra-r a.btn-close:hover {
    color: #333
}
.mod-comm .extra-r a.btn-close.down b {
    background-position: 0 -63px
}
.ftx-03, .ftx03 {
    color: #999
}
.ftx-02, .ftx02 {
    color: #71b247
}
.ftx-05, .ftx05 {
    color: #005ea7
}
.ftx-02, .ftx02 {
    color: #71b247
}
.mod-main .mt:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.easebuy-m {
    border: 2px solid #e6e6e6;
    margin: 0 0 10px
}
.easebuy-m .smt {
    padding: 10px;
    height: 35px;
    position: relative;
    display: block;
    overflow: visible
}
.easebuy-m .smt h3 {
    float: left;
    color: #666
}
.easebuy-m .smt .alias-edit {
    width: 12px;
    height: 12px;
    background-position: -51px 0;
    margin: 0 10px
}
.easebuy-m .smt .alias-edit {
    display: inline-block;
    background-image: url(//misc.360buyimg.com/user/myjd-2015/css/i/sprite-t-icon.png);
    background-repeat: no-repeat
}
.easebuy-m .smt h3 .ftx-02 {
    margin: 0 0 0 10px;
    font-size: 12px;
    background: #84c360;
    padding: 2px;
    color: #fff;
    font-weight: 400
}
.ftx-04.ml10{
    margin: 0 0 0 10px;
    font-size: 12px;
    background: #ffaa45;
    padding: 2px;
    color: #fff;
    font-weight: 400;
}
.easebuy-m .smt .extra{
    float: right;
    margin: 0 10px 0 0;
}
.easebuy-m .smt .extra .del-btn{
    margin-top: 10px;
    display: inline-block;
    width: 13px;
    height: 13px;
    text-indent: 2em;
    background: url(//misc.360buyimg.com/user/myjd-2015/css/i/close.png) no-repeat;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}
.easebuy-m .smt .alias-form {
    display: none;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 218px;
    height: 126px;
    border: 1px solid #ddd;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15)
}
.hide {
    display: none!important;
}
.easebuy-m .smt .alias-form .alias-new {
    width: 220px;
    height: 25px;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: 5px;
    overflow: hidden
}
.easebuy-m .smt .alias-form .alias-new .ipt-text {
    float: left;
    width: 156px;
    height: 23px;
    line-height: 23px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-right: medium none
}
.easebuy-m .smt .alias-form .alias-new .btn-save {
    float: left;
    width: 53px;
    height: 25px;
    line-height: 25px;
    padding: 0;
    border: medium none;
    overflow: hidden;
    text-align: center;
    color: #fff;
    background: #e64346
}
.easebuy-m .smt .alias-form .alias-common {
    width: 200px;
    margin: 0 auto
}
.easebuy-m .smt .alias-form .alias-common .ac-tip {
    margin-bottom: 5px;
    font: 12px/22px SimSun;
    color: #999
}
.easebuy-m .smt .alias-form .alias-common .ac-con {
    width: 210px;
    margin-right: -10px;
    overflow: hidden
}
.easebuy-m .smt .alias-form .alias-common .ac-con .item {
    float: left;
    height: 23px;
    padding: 0 15px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 10px;
    font: 12px/23px SimSun;
    border-radius: 3px
}
.easebuy-m .smt .alias-form .alias-common .ac-con .item:hover {
    border-color: #e4393c;
    color: #e4393c
}
.easebuy-m .smc {
    padding: 10px;
    line-height: 22px;
    width: 788px
}
.easebuy-m .smc .new-items {
    position: relative;
    width: 788px
}
.easebuy-m .smc .item-lcol {
    width: 450px;
    float: left
}
.easebuy-m .smc .item-lcol .fl {
    width: 360px
}
.easebuy-m .smc .item-rcol {
    width: 320px;
    float: left;
    padding-left: 10px;
    height: 100%
}
.easebuy-m .smc .item-rcol .extra {
    position: absolute;
    right: 0;
    bottom: 0
}
.easebuy-m .smc .item-rcol .extra a{
    margin: 0 5px;
}
.easebuy-m .smc .item-rcol .item {
    text-align: left;
    width: 100%
}
.easebuy-m .smc .item span {
    float: left;
    width: 70px;
    color: #999;
    text-align: right
}
.easebuy-m .smc .new-items {
    position: relative;
    width: 788px
}
.easebuy-m .smc .item-lcol {
    width: 450px;
    float: left
}
.easebuy-m .smc .item-lcol .fl {
    width: 360px
}
.easebuy-m .smc .item span {
    float: left;
    width: 70px;
    color: #999;
    text-align: right
}
.easebuy-m .smc .item-lcol .fl {
    width: 360px
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0
}
a.add-btn {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin: 0 10px 0 0;
    background-image: linear-gradient(to bottom, #f5fbef 0, #eaf6e2 100%);
    border: 1px solid #bfd6af;
}
a.e-btn:active, a.e-btn:hover, a.e-btn:link, a.e-btn:visited {
    color: #333;
    text-decoration: none
}
.selected{
    color: red;
}
/*我的订单*/
.content {
    width: 964px;
    float: left;
    padding: 6px 16px;
}
.mod-main {
    background-color: #fff;
}
.mt ul {
    float: left;
}
.mt ul li {
    padding-right: 20px;
    float: left;
}
.mt .extra-l li a.curr {
    padding-bottom: 0;
    color: #cc1a1a;
    border-bottom: 2px solid #cc1a1a;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.mt .extra-l li a {
    display: inline-block;
    vertical-align: middle;
    color: #333;
}
.mc {
    width: 95%;
}
.mc table {
    width: 100%;
}
.no-div-message{
    text-align: center;
    margin-top: 100px;
}
.order-tb .sep-row {
    height: 20px;
}
.order-tb .sep-row td {
    border: 0;
}
.order-tb .tr-th {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}
.order-tb .tr-th-split td {
    border-bottom: none;
}
.order-tb tbody td {
    border: 1px solid #e5e5e5;
}
.order-tb .tr-th-split .split-row {
    position: relative;
    top: 1px;
    padding: 9px 0;
    /* height: 18px; */
    width: 100%;
    float: left;
    margin: 1px 0 0;
    border-bottom: 1px solid #e5e5e5;
}
.order-tb .tr-th .gap {
    width: 14px;
}
.order-tb .tr-th span {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 2px 0 0;
    display: inline;
}
.order-tb .tr-th .dealtime {
    margin-right: 30px;
    font-family: verdana;
}
.order-tb .tr-th .tr-operate {
    float: right;
    position: relative;
    margin-right: 15px;
    width: 397px;
    height: 23px;
}
.order-tb .tr-th-split span.fr {
    float: right;
}
.order-tb .tr-th-split .split-row02 {
    position: relative;
    color: #393941;
}
.order-tb .tr-th-split .order-consignee {
    width: 128px;
    margin-right: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.order-tb .tr-th-split .order-count em {
    font-family: verdana;
}
.order-tb .tr-th-split .order-pay {
    width: 178px;
}
.order-tb .tr-bd {
    text-align: center;
    vertical-align: top;
}
.order-tb tbody.split-tbody .tr-bd td {
    border-width: 0 1px;
    background: url(../../img/split-line.png) -14px 0 no-repeat;
    padding: 14px 11px;
}
.order-tb .goods-item {
    display: inline-block;
    display: block;
    float: left;
    width: 260px;
}
.order-tb .goods-item .p-img {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #efefef;
    margin: 0 14px;
    _display: inline;
    overflow: hidden;
}
.order-tb .goods-item .p-msg {
    float: left;
    width: 159px;
}
.order-tb .goods-item .p-name {
    height: 54px;
    line-height: 18px;
    overflow: hidden;
    color: #333;
    text-align: left;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.order-tb .goods-item .p-name a {
    color: #333;
}
.order-tb .goods-number {
    float: left;
    width: 70px;
    text-align: left;
    color: #aaa;
    font-family: verdana;
}
.order-tb .goods-repair {
    float: right;
    width: 60px;
    text-align: center;
}
.order-tb .tooltip {
    position: relative;
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
}
.order-tb .amount {
    color: #aaa;
    width: 97px;
    margin: 18px 0;
}
/*.order-tb .amount .ftx-13 {*/
    /*display: block;*/
    /*margin: 0 8px;*/
    /*margin-top: 5px;*/
    /*padding-top: 1px;*/
    /*border-top: solid 1px #E5E5E5;*/
    /*line-height: 19px;*/
    /*height: 19px;*/
    /*overflow: hidden;*/
    /*color: #aaa;*/
/*}*/
.order-tb .status {
    position: relative;
    z-index: 5;
    color: #333;
    line-height: 22px;
    width: 93px;
}
.order-tb .status a {
    color: #333;
}
.order-tb .operate {
    line-height: 22px;
}
a.btn-again {
    display: inline-block;
    padding: 2px 0 3px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 2px;
    width: 85px;
    text-align: center;
}
.order-tb tbody.split-tbody .sep-tr-bd {
    height: 1px;
    overflow: hidden;
}
.order-tb tbody.split-tbody .sep-tr-bd td {
    padding: 0;
}
.order-tb .goods-number, .order-tb .goods-repair, .order-tb .tooltip{
    margin: 18px 0;
}
#addressSelect select{
    height: 32px;
    border: 1px solid #d2d2d2;
}
/*改版样式*/
.user-message{
   background: #F7F5F5;
   height: 240px;
}
.user-message .u-pic{
    width:100px;
    height:100px;
    margin: 10px 80px;
    border-radius: 50%;
    border: 1px #990e0e solid;
    overflow: hidden;
    display: inline-block;
}
.vipCardDiv{
    font-family: MicrosoftYaHei;
    width: 114px;
    margin: 10px 78px;
    color: #990e0e;
}
.user-message p{
    font-family:MicrosoftYaHei;
    color: #990e0e;
    text-align: center;
}
.user-message .user_name{
    font-size: 18px;
    font-weight: 600;
}
.left_menu{
    width: 260px;
    background: #FFF;
}
.left_menu ul li{
    margin: 10px 40px;
    overflow: hidden;
    padding: 10px 0px;
    border-bottom: 1px solid #EEE;
}
.left_menu ul li a{
    font-size: 15px;
    letter-spacing: 2px;
    margin-left: 10px;
}
.left_menu ul li a:hover{
    color:red;
}
.left_menu ul li a .iconfont{
    font-size: 24px;
    margin-right: 14px;
}
.data_address{
    width: 400px;
    height: 26px;
}
/* 修改资料 */
.user-info{
    background-color:#FFF;
    color:#333333;
}
.part4{
    color:#333333;
}
.u-pic p{
    margin-top:15px
}
.u-pic .personal{
    color:#333333;
    float:left;
}
.u-pic .portrait{
    margin-left:10px;
    color: #B1191A;
}
.u-pic img{
    width:100px;
    height:100px;
}
.mod-main1{
    background-color:#F7F5F5;
    padding: 20px;
}
#selMonth,#selDay{
    margin-left:10px;
}
.mod-main1 label{
    margin-right:15px;
}
textarea{
    width: 400px;
    height: 70px;
    resize:none;
    border:none;
    border:1px solid #ccc;
}
.mod-main1 .qian{
    float:left
}
.mod-main1 .saveInfoBtn{
    color:#fff;
    background:#B1191A;
    border:none;
}
.user-info .input{
    width:208px;
    height:26px
}
/* 修改密码 */
.part5{
    color:#333333;
}
.u-pic .pic_p{
    line-height:35px;
}
.part5 .pic_text{
    margin-left: 82px;
    color:#333333;
}
/*.part5 .ul_text{
    text-indent:1rem;
}*/
.part5 .li_input{
    width: 132px;
    height: 26px;
}
.part5 .Verification {
     width: 72px;
     height: 25px;
     font-size:11px;
     color:#B61D1D;
     display:inline-block;
     text-align:center;
     line-height:25px;
     border:1px solid #B61D1D;
     background-color:#FEE2E2;
}
.pwdEditBtn{
     width: 70px;
     height: 28px;
     color: #fff;
     display: inline-block;
     text-align: center;
     line-height: 28px;
     margin-left: 78px;
     background: #B1191A;
}
.navList a:nth-child(2){
    color:#B1191A;
}

/*part5*/
.user-mod {
    background: #fff;
    clear: both;
    display: block;
    padding: 10px 30px;
    margin-bottom: 10px;
    /*height: 910px;*/
}
.user-title {
    height: 27px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.user-title h2 {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #555;
    height: 27px;
    line-height: 27px;
    margin-right: 20px;
}
.user-title h2:before {
    content: "";
    float: left;
    height: 16px;
    width: 3px;
    background: #F32525;
    margin: 6px 10px 0 0;
}
.affiliate-step-warp {
    margin-top: 20px;
}
.clear, .clearfix {
    clear: both;
}
.affiliate-step-warp .a-items {
    overflow: hidden;
}
.affiliate-step-warp .a-item {
    float: left;
    text-align: center;
}
.affiliate-step-warp .a-item .a-item-info {
    float: left;
}
.affiliate-step-warp .a-item .item-icon-1 {
    background-position: 0 0;
}

.affiliate-step-warp .a-item .item-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    /*background: url(../images/user/aff-icon.png) no-repeat;*/
}
.affiliate-step-warp .a-item span {
    display: block;
    font-size: 14px;
    color: #8c8c8c;
    margin-top: 5px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.affiliate-step-warp div.a-item .iconfont {
    float: left;
    margin: 20px 45px 0;
    color: #FD9898;
    font-size: 50px;
}
.affiliate-step-warp .a-item i.icon-right{
    float: left;
    margin: 20px 25px 0;
    color: #d2d2d2;
}
.affiliate-mode {
    overflow: hidden;
    margin-top: 40px;
}
.affiliate-mode .shareUsCode canvas{
    margin: 20px 350px;
}
.affiliate-mode .mode-item {
    overflow: hidden;
    margin-top: 30px;
}
.affiliate-mode .mode-item .tit {
    float: left;
}
.mt10 {
    margin-top: 10px;
}
.affiliate-mode .mode-item .type {
    float: left;
    display: block;
    width: 66px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    background-color: #fd9898;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}
.affiliate-mode .mode-item strong {
    float: left;
    margin: 0 18px 0 14px;
    color: #8c8c8c;
    line-height: 24px;
}
.affiliate-mode .mode-item .cont {
    float: left;
}
.affiliate-mode .mode-item .cont .aff-form {
    overflow: hidden;
}
.affiliate-mode .mode-item .cont .aff-textarea {
    height: 100px;
    border: 1px solid #d2d2d2;
    line-height: 20px;
    width: 700px;
    padding: 10px;
    resize: none;
    outline: 0;
    float: left;
}
.relative {
    position: relative;
}

.fr {
    float: right !important;
}
.affiliate-mode .mode-item .sc-btn {
    width: 90px;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
}
.sc-btn:last-child {
    margin-right: 0;
}
.sc-btn {
    text-align: center;
    font-size: 12px;
    min-width: 50px;
    padding: 0 10px;
}
.sc-redBg-btn {
    background: #f42424;
    border-color: #f42424;
    color: #fff;
}
.sc-btn {
    padding: 0 10px;
    height: 28px;
    background: #fff;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    color: #666;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
}
.affiliate-mode .mode-item .cont p {
    color: #8c8c8c;
    margin-top: 5px;
}
.affiliate-list-warp {
    margin-top: 20px;
}
.user-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d2d2d2;
    font-size: 14px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.user-table thead {
    background: #f8f8f8;
}
.user-table thead th:first-child, .user-table tbody td:first-child {
    padding: 10px 20px;
}
.user-table thead th, .user-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #d2d2d2;
}
.tc {
    text-align: center !important;
}
.affiliate-list-warp  table thead tr th{
    text-align: center;
}
/*我的推荐业绩*/
.user-title.my-team, .user-title.myBenifit{
    display: flex;
    justify-content: space-between;
}
.benifit-sum{
    color: #f42424;
}
/*我的礼品卡*/
.giftCard{
    padding: 10px;
    background: #F7F5F5;
}
.giftCard h4{
    width: 100%;
    height: 27px;
    color: #B1191A;
    font-size: 15px;
    border-bottom: 1px solid #E6E2E1;
    font-family: MicrosoftYaHei;
    line-height: 15px;
}
.giftCard-items{
    margin: 10px 48px;
}
.giftCard-item{
    width: 300px;
    height: 85px;
    border-radius: 10px;
    background: #D8E8C0;
    display: inline-block;
    margin: 10px 50px;
}
.cover{
    width: 300px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    background: url(../../img/images/butterfly.png) no-repeat center/100% 100%;
}
.left-card, .right-card{
    margin: 25px 20px;
}
.left-card .cardName{
    font-size: 16px;
    color: #333;
}
.left-card .cardNum{
    margin: 4px 0;
    display: block;
    font-size: 12px;
    color: #999;
}
.right-card{
    font-size: 20px;
    color: #999;
    width: 20%;
}
/*账户充值*/
.user-header .header-head{
    margin: 20px 0;
}
.recharge-item{
    width: 100%;
    /*height: 300px;*/
}
.user-header .header-head li{
    position: relative;
    width: 180px;
    padding: 8px;
    margin-right: 8px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background:#B0B0B0;
}
.user-header .header-head li:nth-child(1){
    z-index: 3;
}
.user-header .header-head li:nth-child(2){
    z-index: 2;
}
.user-header .header-head li:nth-child(3){
    z-index: 1;
}
.rechanged{
    background: #F76955!important;
}
.user-header .head-list span{
    width: 25px;
    height: 24px;
    position: absolute;
    top: 5px;
    display: inline-block;
    right: -13px;
    transform: rotate(45deg);
    background: #F76955;
}
.user-header  .head-lise span{
    background:#B0B0B0;
    width: 25px;
    height: 24px;
    position: absolute;
    top: 5px;
    display: inline-block;
    right: -13px;
    transform: rotate(45deg);
}
.user-header .header-ul .head-lise i{
    width: 25px;
    height: 24px;
    position: absolute;
    top: 5px;
    display: inline-block;
    left: -13px;
    transform: rotate(45deg);
    background: #F7F5F5;
}
.header-div .recharge-btn{
    background: rgba(177,25,26,1);
    width: 120px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 15px 0px 15px 160px;
    cursor: pointer;
    display: inline-block;
}
.header-div .recharge-btn:hover{
    opacity: 0.8;
}
.payType label{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 145px;
    font-size: 16px;
    margin: 0px 10px;
    background: #FFF;
    border: 1px solid #DDD;
}
.payType label .iconf-Alipay{
    color: #06AAEE;
}
.payType label .iconf-we{
    color:#01BA38;
}

.header-ul p{
    margin: 10px 0;
}
.entered{
    position: relative;
    top: 46px;
    right: 204px;
    width: 160px;
    height: 24px;
    color: #747070;
}
.payType i{
    font-size: 30px;
    margin-right: 5px;
}
.part input {
    color: #494949;
    padding: 5px;
    margin-right: 3px;
}
.part input::-webkit-input-placeholder{
    color: #B0B0B0;
    font-size: 12px;
    line-height: 50px;
    margin-left: 5px;
}

/*付款码*/
.alipay-code, .wxpay-code{
    width: 890px;
}
.alipay-code-number {
    font-size: 14px;
    width: 100%;
    color: #333;
    line-height: 45px;
}
.wxpay-code p span ,.alipay-code p span ,.alipay-code-number span{
    float: right;
}
.alipay-code p span em, .alipay-code-number span em {
    font-size: 16px;
    color: #db3a3b;
}
.alipay-qrcode {
    /*border: 1px solid #e6e2e1;*/
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
    background: #FFF;
    padding: 10px 72px;
}
.alipay-qrcode-top {
    font-size: 22px;
    color: #333;
    /*margin-left: 20px;*/
    line-height: 45px;
}
.alipay-qrcode-top span {
    font-size: 14px;
    margin-left: 40px;
}
.alipay-qrcode-w {
    overflow: hidden;
    /*margin-left: 100px;*/
}
.alipay-qrcode-l {
    float: left;
}
.alipay-qrcode-img {
    border: 1px solid #e6e2e1;
    padding: 20px;
}
.alipay-qrcode-scan {
    background-color: #1d82d2;
    padding: 20px;
    margin-top: 25px;
}
.alipay-qrcode-scan p {
    color: #fff;
    font-size: 14px;
    float: right;
    margin: 0 19px;
    width: 220px;
}
.alipay-qrcode-mobile {
    float: left;
}
.alipay-qrcode-mobile img {
    width: 100%;
}
.pay-back {
    color: #4a93ff;
    font-size: 14px;
    margin-left: 20px;
    line-height: 20px;
    cursor: pointer;
}
.pay-back i {
    font-size: 20px;
    float: left;
    margin-right: 25px;
}
.recharge-sum{
    display: flex;
}
/*历史足迹 我的收藏*/
.user-header .u-pic p{
    font-size: 1.17rem;
    color: #333333;
    font-family: Microsoft YaHei;
    margin: 15px 0px;
}
.user_goods .goods_lu{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #a1a1a1;
}
.user_goods .goods_list{
    width: 221.5px;
    height: 299px;
    font-family: "微软雅黑";
    margin: 0px;
    border: 1px solid #ece9e9;
    padding: 10px;
}
.goods_list .list_picture {
    position: relative;
    padding: 10px;
}
.goods_list .list_picture img{
    width:100%;
    height:100%;
}
.goods_list .list_picture span{
    position: absolute;
    bottom: 10px;
    left: 11px;
    padding: 1px 8px;
    border-radius: 5px;
    font-size: 1.35rem;
    color: #FFFFFF;
    text-align: left;
    font-family: HiraginoSansGB-W3;
    background: rgba(220,0,0,0.7);
}
.goods_list .p-name em{
    color:#cf010e;
}
.goods_list .p-lie .p-price{
    float:left;
    color:#e9573a
}
.goods_list .p-lie span{
    float:right;
    color:#c1c1c0;
    text-decoration: line-through;
}