html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
body, dd, div, dl, dt, fieldset, form, h2, h3, h4, h5, h6, img, li, ol, p, td, ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: 400;
}
em, i, s {
    font-style: normal;
}
p {
    margin: 0 0 10px;
}
img, iframe {
    border: 0;
}
.con, body, html {
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    min-height: 100vh;
}
.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.m-top08 {
    margin-top: .8rem;
}
.m-top04 {
    margin-top: .4rem;
}
.margin-lr {
    margin: 0 1.1rem;
}
.padding-all {
    padding: 1.1rem;
}
.padding-all-n {
    padding: 1rem 1.1rem;
}
a {
    color: #444;
    cursor: pointer;
    text-decoration: none;
}
a, a:link {
    color: #232326;
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.f-04 {
    font-size: 1.4rem;
}
.f-05 {
    font-size: 1.5rem;
}
.of-hidden {
    overflow: hidden;
}
.t-first {
    color: #ec5151;
}
.dis-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
}
.box-flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    display: block;
    width: 100%;
}
body{
    background-color: rgb(237,237,237);
}
.back {
    padding: 8px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 2rem;
    text-align: center;
    width: 100%;
    background: #C83C3B;
}
.back .backtrack {
    float: left;
    font-size: 0.7rem;
    color: #FFFFFF;
}
.back .backtrack a {
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}
.back .trolley{
    font-size: 2rem;
    margin-right: 5rem;
}
#loading, .loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
    margin-left: -2.5rem;
    margin-top: -1rem;
    z-index: 111;
}
#loading img, .loading img {
    position: absolute;
    width: 5rem;
    height: auto;
    left: 50%;
    top: 50%;
    margin-left: -2rem;
    margin-top: -3rem;
}
.flow-checkout, .flow-consignee-list, .flow-have-cart, .goods, .user-evaluation {
    margin-bottom: 5rem;
}
.flow-checkout-adr {
    background: #fff url("http://www.farsightwine.com/mobile/public/img/flow_check_03.png") bottom left repeat-x;
    background-size: 8rem auto;
    font-size: 1.7rem;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    padding-right: 3rem;
    padding-left: 4rem;
}
.flow-consignee-list .flow-checkout-adr {
    background: #fff;
    padding-bottom: 1.6rem;
}
.flow-consignee-list .flow-checkout-adr {
    padding: 0;
}
.flow-consignee-list .flow-have-adr {
    padding: 1.3rem;
    border-top: 1px solid #f6f6f9;
}
.flow-set-adr {
    border-top: 1px solid #f6f6f9;
    font-size: 1.3rem;
}
.select-three .ect-select label {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1.6rem;
}
.select-three .ect-select .active-i {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #ddd;
    border-radius: 100%;
}
.select-three .ect-select label.active .active-i {
    border: 1px solid #ec5151;
    color: #fff;
    text-align: center;
    background: #ec5151 url("http://www.farsightwine.com/mobile/public/img/iconfont-gou.png") center center no-repeat;
    background-size: 70%;
}
.select-three .ect-select label span {
    font-size: 1.7rem;
    margin-left: .6rem;
    margin-top: .1rem;
}
.flow-set-adr .ect-select label span {
    font-size: 1.5rem;
    color: #666;
}
.flow-checkout-adr a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.flow-consignee-list .flow-checkout-adr a {
    position: static;
    font-size: 1.4rem;
    color: #444;
    margin-left: .4rem;
}
.flow-consignee-list .flow-checkout-adr a i {
    font-size: 2.3rem;
    margin-right: .8rem;
}
.filter-btn {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 10;
    background: #fafafc;
    box-shadow: 1px 0 5px rgba(100,100,100,.2);
}
.btn-alipay, .btn-cart, .btn-default, .btn-default-new, .btn-disab, .btn-reset, .btn-submit, .btn-submit1, .btn-wechat {
    font-size: 1.6rem;
    color: #fff;
    border: 0;
    text-align: center;
    padding: 1.2rem 0;
    width: 100%;
}
a.btn-alipay, a.btn-cart, a.btn-disab, a.btn-submit, a.btn-wechat {
    color: #fff;
}

.ect-button-more a:last-child, .ect-button-more button:last-child {
    margin-right: 0;
}
.btn-submit {
    background: #C83C3B;
}
.filter-btn a.box-flex:last-of-type {
    margin-right: 0;
    margin-left: 0;
}



/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
/*}*/
/*body, dd, div, dl, dt, fieldset, form, h2, h3, h4, h5, h6, img, li, ol, p, td, ul {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*list-style: none;*/
    /*font-weight: 400;*/
/*}*/
/*input, button, select, textarea {*/
    /*outline: none;*/
    /*font-family: inherit;*/
    /*vertical-align: middle;*/
/*}*/
/*em, i, s {*/
    /*font-style: normal;*/
/*}*/
/*input:invalid, input:required, input:valid {*/
    /*border: 0 none;*/
    /*outline: 0 none;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*-ms-box-shadow: none;*/
    /*-o-box-shadow: none;*/
    /*box-shadow: none;*/
    /*-webkit-appearance: none;*/
    /*-webkit-tap-highlight-color: rgba(255,255,255,0);*/
/*}*/
/*img, iframe {*/
    /*border: 0;*/
/*}*/
/*.iconfont {*/
    /*font-family: iconfont!important;*/
    /*font-size: 16px;*/
    /*font-style: normal;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/
/*.con, body, html {*/
    /*overflow-x: hidden;*/
    /*max-width: 100%;*/
    /*min-width: 320px;*/
    /*min-height: 100vh;*/
/*}*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.m-top12 {
    margin-top: 1.2rem;
}
.b-color-f {
    background: #fff;
}
.margin-lr {
    margin: 0 1.1rem;
}
.dis-box {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
}
.box-flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    display: block;
    width: 100%;
}
#loading, .loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
    margin-left: -2.5rem;
    margin-top: -1rem;
    z-index: 111;
}
#loading img, .loading img {
    position: absolute;
    width: 5rem;
    height: auto;
    left: 50%;
    top: 50%;
    margin-left: -2rem;
    margin-top: -3rem;
}
.flow-consignee {
    margin-top: 2rem;
}
.text-all {
    border-bottom: 1px solid #f6f6f9;
    padding: .6rem 0;
    width: 100%;
    overflow: hidden;
}
.text-all label {
    font-size: 1.6rem;
    display: block;
    height: 3.2rem;
    line-height: 3.2rem;
    margin-right: .8rem;
    vertical-align: middle;
}
.input-text {
    position: relative;
}
.input-text input {
    border: 0;
    height: 3.1rem;
    line-height: 3.1rem;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    color: #666;
    font-size: 1.5rem;
    padding-right: 1rem;
}
.close-common {
    font-size: 2.1rem;
    color: #ddd;
    top: 50%;
    margin-top: -1.2rem;
    z-index: 10;
    position: absolute;
    right: .2rem;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
.address-box {
    height: 1.9rem;
    line-height: 1.9rem;
}
.text-all .text-all-span {
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.5rem;
    color: #333;
}
span.t-jiantou {
    position: relative;
    font-size: 1.3rem;
    padding-right: 1.3rem;
    margin-top: .1rem;
    color: #777;
}
.text-all span.t-jiantou {
    margin-top: .8rem;
}
span.t-jiantou i.icon-arrowright {
    position: absolute;
    font-size: 1rem;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
span.t-jiantou i.icon-arrowright:before {
    font-size: 1.4rem;
    color: #888;
}
.br-5 {
    border-radius: 5px;
}
.btn-alipay, .btn-cart, .btn-default, .btn-default-new, .btn-disab, .btn-reset, .btn-submit, .btn-submit1, .btn-wechat {
    font-size: 1.6rem;
    color: #fff;
    border: 0;
    text-align: center;
    padding: 1.2rem 0;
    width: 100%;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.choseaddr{
    width:70%;
}
.choseaddr input {
    border: 0;
    height: 3.1rem;
    line-height: 3.1rem;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    color: #666;
    font-size: 1.5rem;
    padding-right: 1rem;
}