@charset "utf-8";
/*Create by peng on 12.24.2017*/
/* CSS Document */

/* nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #000;
    font-size: 0.7rem;
    position: fixed;
    color: #fff;
    width: 100%;
}
.nav .edit {
    font-size: 1.5rem;
    line-height: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 20px;
    position: relative;
    top: -10px;
}
/* nav */
/* dashboard */
.dashboard{
    background-color: #000;
    color: #fff;
    padding: 40px 10px 20px 10px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-weight: 100;
    color: #FFC9C9;
    justify-content: center;
    align-items: center;
}
.dashboard .avator{
    width: 80vw;
    height: 80vw;
}

/* dashboard */
/* aisle */
.aisle {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}
.aisle .mask{
    height: calc(100% - 188px);
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
}

.aisle .btn-able .local-photo {
    margin-bottom: 10px;
}
.aisle .btn-able {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 3px solid #f5f5f5;
    background-color: #fff;
}
.aisle .btn-disable {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
}
.aisle .btn-disable button{
    background-color: #ccc;
}

.aisle button{
    height: 45px;
    background: #C83C3B;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
}
/* aisle */
