* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.conter{
    background: #C83C3B;
}
.back{
    line-height: 2rem;
    color:#FFFFFF;
    text-align: center;
}
.back .backtrack{
    margin-left: 0.3rem;
    font-size: 0.7rem;
    color:#FFFFFF;
    float:left;
}
.back .trolley{
    font-size: 0.9rem;
    margin-right: 2.5rem;
    color:#FFFFFF;
}
.backtrack a{
    color: #fff;
    text-decoration:none;
}
.con {
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    min-height: 100vh;
    margin-top: 0.5rem;
    text-align: center;
}
.con ul li{
    position: relative;
}
.con li img{
    width:95%;
}
.con  ul .con_gift{
    position: absolute;
    left: 0%;
    top: 30%;
    width: 70%;
    line-height: 1.2rem;
    margin: 0% 10% 0%;
}
.con_gift span{
    float: right;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #999999;
}
.con_gift span .iconfont{
    font-size: 1.2rem;
}
.con_gift ul{
    float: left;
    text-align: left;
}
/*.con ul li{*/
    /*background: url(/daocheng/static/common/img/goli_bj.png) no-repeat center;*/
    /*background-size:95%;*/
    /*width: 95%;*/
    /*margin: 0% 2.5% 0%;*/
    /*border-radius: 0.25rem;*/
/*}*/
.con_gift ul p{
    font-size: 0.75rem;
    color: #999999;
}


