html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
ul, ol, li {
    list-style: none;
}
img, iframe {
    border: 0;

}
em, i, s {
    font-style: normal;
}
a {
    color: #444;
    cursor: pointer;
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
input, button, select, textarea {
    outline: none;
    font-family: inherit;
    vertical-align: middle;
}
body{
    background-color: #F5F5F5;
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
}
header, footer, nav, .main {
    width: 100%;
    /* max-width: 720px; */
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system-font,microsoft yahei;
}
.share_mask{
    position: fixed;
    display: none;
    z-index: 6;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
}
.share_mask .right_top{
    position: absolute;
    right: 0;
    width: 60vw;
    height: 36vw;
}
.share_mask .right_top .share_pic{
    position: absolute;
    right: 5vw;
}
.share_mask .right_top .share_pic img{
    position: relative;
    right: 0;
    height: 15vw;
    width: 15vw;
}
.share_mask .right_top .share_txt{
    position: relative;
    text-align: center;
    /* right: 20vw; */
    color: #FFF;
    text-indent: 2em;
    top: 16vw;
    width: 45vw;
    font-size: 0.65rem;
}
.back{
    font-size: 0.7rem;
    background:#c83c3b;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    line-height: 2rem;
    height: 2rem;
}
.back a{
    color: #FFF;
    float: left;
    font-size: 0.7rem;
    margin-left: 8px;
}
.back a i{
    font-size: 22px;
    margin-right: 10px;
}
/* .header {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .8em 0;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
.header .i-return {
    display: block;
    width: 2em;
    height: 1em;
    line-height: 1em;
    font-size: 1.2em;
}
.header h2 {
    font-size: 1.2em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    width: 100%;
    margin-right: 1.7em;
} */
/*.header .i-return:before {
    content: "";
    font-family: mosselfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #888;
}*/
.goods-photo {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.goods-photo .goods-num {
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    height: 2.6rem;
    line-height: 2.6rem;
    padding: 0 1rem;
    border-radius: 1.3rem;
    right: 1.3rem;
    bottom: 1.3rem;
    background: rgba(0,0,0,.5);
    z-index: 5;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.goods-banner .swiper-wrapper{
    height:15rem;
}
.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform,height;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.goods-big-service .swiper-wrapper, .goods-show-con .swiper-wrapper, .menu-left .swiper-wrapper, .s-g-attr-con .swiper-wrapper, .s-g-list-con .swiper-wrapper {
    display: block;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.tb-lr-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.goods-photo li {
    padding: 0.5rem;
    background: #fff;
}
.goods-photo img {
    height: 100%;
    display: block;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    z-index: 10;
}
.swiper-container-horizontal>.swiper-pagination {
    bottom: 20px;
    left: 0;
    width: 100%;
}

.padding-all {
    padding: 0.5rem;
}
.b-color-f {
    background: #fff;
}
.goods-title {
    padding-bottom: 0;
}
.goods-title  .dis-box{
    /*width: 80%;*/
    float: left;
}
.goods-title .recommend-box{
    width: 20%;
    float: right;
    text-align: center;
    font-size: 0.6rem;
    color: #999;
}
.goods-title .recommend-box .recommend-icon{
    margin: 0 auto;
    width: 1.2rem;
    height: 1.5rem;
    background: url(../../img/recommend.png) no-repeat center;
    background-size: contain;
}
.dis-box {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
}
.box-flex {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    display: block;
    width: 100%;
}
.goods-title h3 {
    float: left;
    font-size: 0.7rem;
    overflow: hidden;
    line-height: 1.3rem;
}
.em-promotion {
    font-size: 1.2rem;
    vertical-align: middle;
    padding: .1rem .4rem;
    background: #ec5151;
    border-radius: 1.2rem;
    color: #fff;
}
.goods-price {
    padding-top: 0;
}
.p-price {
    clear: both;
    overflow: hidden;
    line-height: 1.5rem;
}
.t-first {
    color: #ec5151;
}
.p-price .p-custom {
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 16px;
    border-radius: 2px;
    color: #ec1a23;
    font-size: 12px;
    border: 2px solid red;
}
.p-price span {
    font-size: 0.8rem;
    vertical-align: middle;
}
.em-promotion {
    font-size: 1.2rem;
    vertical-align: middle;
    padding: .1rem .4rem;
    background: #ec5151;
    border-radius: 1.2rem;
    color: #fff;
}
.p-price .em-promotion {
    margin-left: .6rem;
    margin-top: .2rem;
}
.p-market {
    color: #999;
    font-size: 0.7rem;
    clear: both;
}
.p-market del {
    font-size: 0.6rem;
    margin-left: 0;
}
.m-top06 {
    margin-top: .6rem;
}
.g-p-tthree {
    font-size: 0.7rem;
    color: #999;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.m-top08 {
    margin-top: .3rem;
    cursor: pointer;
    overflow-x: hidden;
}
.address-box {
    height: 1.9rem;
    line-height: 1.9rem;
}
/* .t-remark, .t-remark a, .t-remark a:link, .t-remark:link {
    color: #999;
    font-size: 0.7rem;
    font-weight: 400;
}
.g-t-temark {
    margin: 0;
    margin-right: 1rem;
    display: block;
    line-height: 1.2rem;
} */
.t-remark {
    width: 100%;
    color: #999;
    cursor: pointer;
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    flex-direction: row;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.t-remark .t-remark-sp{
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #E63131;
}
.t-remark p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.1rem;
}
.t-remark p span{
    border: 1px solid #999999;
    margin-right: 0.5rem;
    font-size: 0.55rem;
    padding: 0.1rem;
    border-radius: 2.5pt;
}
.t-remark i{
    display: initial;
}
.dis-t{
    border-bottom: 0.3rem solid #F5F5F5;
}
.t-res{
    padding-left: 2.2rem;
}
.f-04 {
    font-size: 0.8rem;
}
.f-06 {
    font-size: 4rem;
}
.f-02 {
    font-size: 0.7rem;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
span.t-jiantou {
    position: relative;
    font-size: 1.3rem;
    padding-right: 1.3rem;
    margin-top: .1rem;
    color: #777;
}
.tf-180 {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
span.t-jiantou i.icon-arrowright {
    position: absolute;
    font-size: 1rem;
}
.m-top1px {
    margin-top: 1px;
}
.t-goods1 {
    font-size: 1.4rem;
}
.filter-city-div, .filter-depot-div, .filter-div, .filter-div-1, .mask-filter-div, .mask-search-div {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 12;
    background: rgba(0,0,0,.4);
}
.mask-filter-div, .mask-search-div {
    z-index: 7;
    display: none;
    left: 0;
}
.b-color-1 {
    background: #e3e5e9;
}
.ts-3 {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.show-goods-attr, .show-goods-coupon, .show-goods-dist, .show-goods-service, .show-time-con {
    position: fixed;
    left: 0;
    bottom: -100%;
    right: 0;
    z-index: 16;
    visibility: hidden;
}
.product-div {
    background: #fff;
    position: relative;
    overflow: hidden;
}
.product-list-small .product-div {
    padding: .8rem;
}
.show-goods-attr .product-div {
    padding: 1.1rem;
}
.product-list-box {
    position: absolute;
    top: -2rem;
    border-radius: 6px;
    overflow: hidden;
}
.product-div img {
    width: 100%;
    display: block;
}
.product-list-small .product-list-img {
    width: 9.2rem;
    height: auto;
    float: left;
}
.product-list-small .product-div img {
    border: 1px solid #f1f1f1;
}
.product-list-small .product-text {
    margin-left: 10.6rem;
    padding: .2rem 0;
}
.position-rel {
    position: relative;
}
.show-div-guanbi {
    font-size: 2.1rem;
    color: #999;
    margin-left: 1rem;
}
.product-text .show-div-guanbi {
    margin-top: -1rem;
    position: absolute;
    top: .7rem;
    right: 0;
}
.col-9 {
    color: #999;
}
.s-g-attr-con {
    max-height: 29.4rem;
    min-height: 29.4rem;
    overflow: hidden;
}
.swiper-scroll {
    position: relative;
}
.div-num {
    border: 1px solid #d6d6d6;
    width: 5rem;
    margin-top: 0;
}
.div-num a {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
}
.div-num a.num-plus:after {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.div-num a.num-less:before, .div-num a.num-plus:after, .div-num a.num-plus:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #888;
    width: 0.7rem;
    position: absolute;
    left: 19%;
    /*margin-left: -.8rem;*/
    top: 50%;
    margin-top: -1px;
    text-align: center;
}
input:invalid, input:required, input:valid {
    border: 0 none;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.div-num input {
    border: 0;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-radius: 0;
    height: 1.2rem;
    /*padding: .5rem;*/
    font-size: 0.7rem;
    text-align: center;
}
.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1);
}
.swiper-scrollbar {
    display: none;
}
.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}
a.btn-alipay, a.btn-cart, a.btn-disab, a.btn-submit, a.btn-wechat {
    color: #fff;
}
a.btn-disab {
    background: #bbb;
    border: 1px solid #bbb;
}
.ect-button-more a:last-child, .ect-button-more button:last-child {
    margin-right: 0;
}
.no-shopping-title.goods-shop {
    padding-top: 0;
}
.header-menu {
    height: 2rem;
    line-height: 2rem;
    /*padding-right: 2.6rem;*/
    width: 100%;
    z-index: 6;
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(100,100,100,.1);
    box-shadow: 1px 1px 3px rgba(50,50,50,.1);
}
.header-menu h3 {
    font-size: 0.8rem;
    text-align: center;
    line-height: 2rem;
}
.n-goods-shop-list-nav {
    padding: 0;
    box-sizing: border-box;
    z-index: 12;
    width: 70%;
    margin: 0 auto;
}
.text-c {
    text-align: center!important;
}
.position-rel {
    position: relative;
}
.n-goods-shop-list-nav ul li {
    padding: 0;
    font-size: 0.8rem;
    width: auto;
    position: relative;
    color: #555;
}
.n-goods-shop-list-nav ul li.active {
    color: #ec5151;
    position: relative;
}
.header-menu a {
    color: #555;
}
.n-goods-shop-list-nav ul li.active:after {
    content: " ";
    position: absolute;
    left: .8rem;
    right: .8rem;
    bottom: 0;
    height: 1.5px;
    background: #ec5151;
    z-index: 2;
}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto;
}
.goods-info-box{
    padding-top:20px;
}
.goods-info-box p{
    text-align: center;
}
.goods-info-box img {
    max-width: 100%;
}
.fly_item {
    z-index: 49999;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    opacity: .9;
}
.filter-btn {
    position: fixed;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 10;
    background: #fafafc;
    box-shadow: 1px 0 5px rgba(100,100,100,.2);
}
.shoucang{
    /*background: url(../../img/recommend.png) no-repeat center;*/
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: 100%;
}
.quick_links {
    left: 0;
    bottom: -1px;
    width: 100vw;
    height: 31vh;
    z-index: 4999;
    display: none;
    position: fixed;
    background: #fff;
    flex-direction: column;
}
.quick_links .quick_links_title {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(238,238,238,1);
}
.quick_links .quick_links_title .left{
    color: #333;
}
.quick_links .quick_links_title .right{
    font-size: 1.3rem;
    color: #dfdfdf;
    cursor: pointer;
}
.quick_links .quick_links_number {
    padding: 10px;
    height: 150px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(238,238,238,1);
    color:rgba(153,153,153,1);
}
/* .quick_links .quick_links_number .left{
} */
.quick_links .quick_links_number .right{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}
.quick_links .quick_links_number .right input {
    width: 35px;
    text-align: center;
    background-color: #dfdfdf;
    height: 25px;
    border-radius: 5px;
}
.quick_links .quick_links_number .right i {
    width: 25px;
    height: 25px;
    padding-bottom:4px;
    display: inline-flex;
    font-size: 1.3rem;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfdfdf;
}
.quick_links .quick_links_number .right .active {
    border: 1px solid #C83C3B;
    background-color: #C83C3B;
    color: #fff;
}
.quick_links .quick_links_btn_group {
    height: 85px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(238,238,238,1);
    color:rgba(153,153,153,1);
}
.quick_links .quick_links_btn_group span {
    display: flex;
    height: 55px;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.quick_links .quick_links_btn_group .left {
    background-color: #E69731;
}
.quick_links .quick_links_btn_group .right {
    background-color: #E63131;
}
.choseaddr{
    display: inline-block;
    width:70%;
}
.choseaddr #addrinput{
    width:100%;
}
/*评论*/
.g-evaluation-title{
    height:300px;
    border:1px solid black;
}

.heart {
    display: block;
    padding: 0 0.8rem;
    text-align: center;
    position: relative;
    margin-top: .3rem;
}
.heart i {
    /*display: block;*/
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    font-size: 1rem;
}
.heart em {
    font-size: 0.7rem;
    display: block;
    text-align: center;
    margin-top: 0;
    color: #666;
}
.heart .kefu {
    background: url("http://www.farsightwine.com/mobile/public/img/heart_kefu.png") 0 100% no-repeat;
    background-size: 2rem 4rem;
}
 .heart .shoucang {
    /*background: url("http://www.farsightwine.com/mobile/public/img/heart_03.png") 0 100% no-repeat;*/
    background: url(../../img/shop.png) no-repeat center;
    /*background-size: 2rem 4rem;*/
     background-size: 100%;
     width: 1.2rem;
     height: 1rem;
}
.btn-alipay, .btn-cart, .btn-default, .btn-default-new, .btn-disab, .btn-reset, .btn-submit, .btn-submit1, .btn-wechat {
    font-size: 0.8rem;
    color: #fff;
    border: 0;
    text-align: center;
    /*padding: 1.2rem 0;*/
    width: 100%;
}
.btn-cart {
    background: #f4a213;
}
a.btn-alipay, a.btn-cart, a.btn-disab, a.btn-submit, a.btn-wechat {
    color: #fff;
}
a.btn-disab {
    background: #bbb;
    border: 1px solid #bbb;
}
.con .filter-btn .add-to-cart {
    -webkit-text-size-adjust: none;
    font-size: 0.7rem;
    line-height: 2.5rem;
}
.filter-btn a.box-flex:last-of-type {
    margin-right: 0;
    margin-left: 0;
    font-size: 0.7rem;
    line-height: 2.5rem;
}
.btn-submit {
    background: #EC1A23;
}
.b-color {
    background: #ec5151;
}
.filter-btn .filter-btn-flow sup {
    position: absolute;
    top: .1rem;
    right: .9rem;
    height: 0.85rem;
    min-width: 0.85rem;
    line-height: 0.85rem;
    padding: 0 .2rem;
    box-sizing: border-box;
    font-size: 0.6rem;
    color: #fff;
    border-radius: 50%;
}
.heart .flow {
    background: url(../../img/small-car.png) no-repeat center;
    width: 1.2rem;
    height: 1rem;
    background-size: 1.2rem;
    display: inline-block;
}
/* 活动 */
.activity {
    font-size: 0.4rem;
    font-family: HiraginoSansGB-W3;
    color: #fff;
    background: rgba(220,0,0,0.7);
    padding: 0.05rem 0.3rem;
    border-radius: 2.5pt;
    text-align: center;
    float: right;
    margin: 0.25rem 0rem 0rem 0.25rem;
}
/*选择赠品*/
.cen-good{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 13;
    display: none;
}
.present{
    width: 100%;
    height: 17rem;
    z-index: 13;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
}
.present .head{
    width: 100%;
    font-size: .9rem;
    color: #333333;
    font-family: HiraginoSansGB-W3;
    line-height: 2.5rem;
    padding: 0 0.5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: space-between;
}
.present .close{
    color: #CCCCCC;
}
.center ul{
    height: 17rem;
    overflow-y: auto;
}
.center li{
    display: inline-flex;
    width: 90%;
    padding: 0.5rem 0;
    margin: 0 5%;
    border-top: 1px solid #EEEEEE;
}
.center li .list-page .rec-active{
    width: 1.2rem;
    height: 4.1rem;
    display: block;
    background: url(../../img/check.png) no-repeat center;
    background-size: 1rem;
}
.selected{
    width: 1.2rem;
    height: 4.1rem;
    display: block;
    background: url(../../img/checked.png) no-repeat center;
    background-size: 1rem;
}

.center li .list-cen{
    width: 4.2rem;
    height: 4.2rem;
    margin: 0 0.5rem;
}
.list-cen img{
    width:100%;
    height:100%;
}
.list-next{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-next .next-up{
    font-family: Hiragino Sans GB;
    font-size: .8rem;
    color: #333333;
}
.list-next .next-down{
    font-family: .8rem;
    display: flex;
    justify-content: space-between;
}
.next-down .dwon-left{
    color: #E63131;
}
.next-down .down-right{
    color: #cccccc;
}
.present  button{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    font-size: .8rem;
    color: #FEFEFE;
    text-align: center;
    background: #E63131;
}













































