/*Create by Li Weijian on 27.11.2017*/
@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,caption{padding: 0; margin: 0;}
fieldset,img{border: none;}
table{border-collapse: separate; border-spacing: 0;}
ol,ul,li{list-style: none; list-style-type: none;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight: normal; font-style: normal;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6{font-weight: normal; font-size: 100%;}
q:before,q:after {
  content: '';
}
abbr,acronym {
  border: 0;
}
a {
  text-decoration: none;
  color: black;
}
body{
  background-color: #f1f1f1;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
}
*{box-sizing: border-box;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
html{font-size: 20px !important;}
@media only screen and (min-width: 414px){html{font-size: 22.08px !important;}}
@media only screen and (min-width: 400px){html{font-size: 21.33px !important;}}
@media only screen and (min-width: 480px){html{font-size: 25.6px !important;}}
.back{
  padding: 8px;
  color:#FFFFFF;
  line-height: 1.2rem;
  text-align: center;
  width: 100%;
  background:#c83c3b;
}
.back .backtrack{
  font-size: 0.7rem;
  color:#FFFFFF;
  float:left;
}
.back .trolley{
  font-size: 0.9rem;
  color:#FFFFFF;
}
.backtrack a{
  color: #fff;
}
.back .save{
  float:right;
  font-size: 0.7rem;
  color:#FFFFFF;
  margin-right: 0.4rem;
}
.msglist {
  width: 100%;
  background: #fff;
  padding: 0.4rem;
}
.msglist li {
  width: 100%;
  border-bottom: 1px solid #f4efef;
  line-height: 2rem;
  color: #999;
  font-size: 0.7rem;
  padding-left: 0.4rem;
}
.msglist li span {
  width: 4rem;
  color: #333;
  display: inline-block;
}
.msglist li a {
  color: #aaa;
  float: right;
}
.msglist li a i {
  font-size: 0.7rem;
}
/* 编辑个人信息 */
.msg-edit {
  width: 100%;
  background: #fff;
}
.msg-edit form p {
  border-bottom: 1px solid #f4efef;
  line-height: 2rem;
  width: 100%;
  padding: 0 0.4rem;
}
.msg-edit form .icon{
    color:#999999;
}
.msg-edit p .portrait{
  line-height: 3rem;
  padding: 0.2rem;
}
.msg-edit .portrait .img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.msg-edit .portrait .img-container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.msg-edit form p label {
  width: 100%;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  padding:0.2rem;
}
.msg-edit form p label em {
  width: 20vw;
  padding: 0 7px;
  color: #666666;
  font-size: 0.75rem;
  display: inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
form textarea{
  width: 100%;
  height: 5rem;
  resize: none;
  border: none;
  outline:none;
  color: #666666;
  padding-left: 1rem;

}
.msg-edit form p label input,
.msg-edit form p label select {
  background: #fff;
  flex: 1;
  font-size: 0.8rem;
  color:#999999;
  border: none;
  outline: none;
  padding: 0 0.5rem 0 0;
}
.msg-edit form p:nth-child(5) label input{
  width: 5rem;
}
.msg-edit form p:nth-child(5) span {
  display: inline-block;
  width: 4rem;
  /* background-color: #ddd; */
  text-align: center;
  /* font-size: 0.6rem; */
}
.send-disabled {
  pointer-events: none;
  color: #777;
}
.msg-edit form p label textarea::-webkit-input-placeholder {
  color: #ddd;
}
.msg-edit form p label textarea:-moz-placeholder {
  color: #ddd;
}
.msg-edit form p label textarea::-moz-placeholder {
  color: #ddd;
}
.msg-edit form p label textarea:-ms-placeholder {
  color: #ddd;
}
.msg-edit form p a {
  flex: 1;
  text-align: right;
}
.msg-edit form p a i {
  color: #999;
  font-size: 0.7rem;
}
.msg-edit button {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  background: #cd0707;
  border: 1px solid #eb6354;
  border-radius: 5px;
  outline: 0;
  line-height: 2rem;
  color: #fff;
  font-size: 0.75rem;
}
.showCode{
  display: none;
}
#get_code{
  font-size: 0.4rem;
  border: 1px solid #999;
  border-radius: 0.4rem;
  color: #999;
  width: 4rem;
  text-align: center;
}