html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
li{
    list-style: none;
    display: inline-block;
}
a {
    color: #444;
    cursor: pointer;
    text-decoration: none;
}
a, a:link {
    color: #232326;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
img, iframe {
    border: 0;
}
em{
    font-weight: normal;
    font-style: normal;
}
.fl{
    float:left
}
.fr{
    float:right;
}
body{
    background-color: #f4f4f4;
    padding-bottom: 60px;
}
.product-list-medium {
    padding: 0 0;
    /*padding-bottom: 60px;*/
}

ul, ol, li {
    list-style: none;
}
.product-list ul {
    overflow: hidden;
    width: 100%;
    background-color: #f7f7f7;
}
.product-list ul li {
    box-sizing: border-box;
}
.product-list-medium ul li {
    float: left;
    width: 50%;
    padding: 2px 0;
}
.product-list-medium ul li:nth-child(2n-1) {
    padding-right: 2px;
}
.product-list-medium ul li:nth-child(2n) {
    padding-left: 2px;
}
.product-list-medium ul li:nth-child(1),.product-list-medium ul li:nth-child(2) {
    padding-top: 0;
}
.product-div {
    background: #fff;
    position: relative;
    overflow: hidden;
    /*padding-left: 0.2rem;*/
}
.product-div a {
    display: block;
    text-align: center;
}
a img {
    border: 0;
}
.product-div img {
    /*display: block;*/
    width: 150px;
    height: 150px;
    margin-top: 7px;
}
.product-list-medium .product-text {
    padding: .8rem;
}
.product-text h4 {
    display: block;
    overflow: hidden;
}
.product-list-medium h4, .product-list-small h4 {
    font-size: 0.65rem;
    /*height: 3.8rem;*/
    /*line-height: 1.9rem;*/
}
.product-text h4 {
    padding-right: 2.3rem;
}
.index-product-text h4,.index-product-text p {
    padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    /*height: 1.7rem;*/
}
.index-product-text p {
    font-size: 0.6rem;
    line-height: 1rem;
}
.product-text p {
    /*padding-top: .6rem;*/
    /*padding-bottom: .4rem;*/
}
.t-first {
    color: #ec5151;
}
.p-price {
    clear: both;
    overflow: hidden;
}
.product-list-medium .p-price {
    font-size: 0.7rem;
    border-top: 1px solid #eee;
    display: inline-block;
}
.product-text .p-t-remark {
    color: #999;
    padding-bottom: 0;
}
.product-list-medium .p-t-remark {
    font-size: 1.2rem;
    padding-top: .2rem;
    display: none;
}
.self-run-tag {
    font-size: 1rem;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
}
.box-flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    display: block;
    width: 100%;
}
.product-list-medium .icon-flow-cart {
    right: .6rem;
    bottom: .6rem;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    display: none;
}
.icon-flow-cart i.icon-gouwuche {
    color: #fff;
}
.product-list-medium .icon-flow-cart i.icon-gouwuche {
    font-size: 1.8rem;
}
/*头部*/
.show_header{
    background-color:#C83C3B;
    position: fixed;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    padding:0 0.475rem 0 0.275rem;
    box-shadow: 0 0px 15px -2px #908989;
    height: 1.925rem;
    display: flex;
}
.show_header:after{
    content:'';
    display:block;
    height:0;
    clear:both;
    visibility: hidden;
}
.show_header .shoplogo{
    width:3.4rem;
    display: inline-block;
    margin-top: 0.3rem;
}
.show_header .shoplogo img{
    width:100%;
}
.show_header .searchbox{
    position: relative;
    margin-left: 3%;
    display: flex;
    margin-top: 0.25rem;
    flex: 1;
    /*border:1px solid #a68b8b;*/
    border-radius: 15px;
    background: #de8a89;
    height: 1.5rem;
}
.show_header .searchbox input{
    outline:none;
    height: 1.5rem;
    flex: 1;
    padding: 0 0.3rem;
    line-height: 1rem;
    overflow: hidden;
    background: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ebb9b8;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ebb9b8;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ebb9b8;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ebb9b8;
}
.show_header .searchbox .iconfont{
    float:right;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    /*padding-left: 0.2rem;*/
    margin-right: 0.5rem;
}
.shop_banner{
    height:9rem;
    margin-top:1.925rem;
}
.shop_banner img{
    height:9rem;
    width:100%;
}
.goods_favour{
    background-color:#fff;
    padding-bottom:10px;
}
.back .txttitle{
    background: #fff;
    color: #990e0e;
    border-bottom: 1px solid #f0f0f0;
}
.txttitle{
    /*background-color:white;*/
    /*color:#990e0e;*/
    padding:10px;
    /*border-bottom:1px solid #f0f0f0;*/
    font-size: 0.7rem;
    position: relative;
}
.txttitle em{
    position: relative;
    width: 6.75rem;
    text-align: center;
    color: #333;
    font-size: 0.75rem;
    display: inline-block;
    margin-left: 3rem;
}

.txttitle em:before,.txttitle em:after{
    background: #333;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 20%;
}
.txttitle em:before{
    left: 0;
}
.txttitle em:after{
    right: 0;
}
.txttitle .fr{
    color: #999;
    font-size: 0.6rem;
}
.goods_favour .youhui .swiper-wrapper{
    display: flex;
    justify-content: space-around;

}
.goods_favour .youhui .swiper-wrapper .swiper-slide{
    overflow:hidden;
    text-align: center;
    width:31%;
    margin-top: 10px;
    font-size: 0.6rem;
}
.goods_favour .youhui .swiper-wrapper .swiper-slide img{
    width: 89px;
    height: 99px;
}
.new_p{
    color:#990e0e;
}
.old_p{
    text-decoration: line-through;
    color:#ccc;
}
.goods_quan{
    padding:10px 5px 10px;
}
.goods_quan .txttitle{
    background-color:#fff;
    padding-left:5px;
    padding-right:5px;
    font-size: 0.7rem;
    color: #333;
    text-align: center;
    padding: 0;
    border-bottom: none;
}
.goods_quan .youhuiquan .swiper-wrapper{
    display: flex;
    justify-content: space-between;

}
.goods_quan .youhuiquan .swiper-wrapper .swiper-slide{
    overflow:hidden;
    text-align: center;
    width:30%;
}
.goods_quan .youhuiquan .swiper-wrapper .swiper-slide img{
    width:100%;
}

.goods_quan .iconfont,.goods_favour .iconfont{
    margin-right:10px;
}
footer{
    color: #ccc;
}
footer p{
    text-align: center;
    font-size: 0.7rem;
    margin-top:20px;
    margin-bottom: 10px;
}
footer p i{
    font-size: 0.8rem;
}
@media (min-width:750px){
    .shop_banner {
        height: 225px;
    }
    .shop_banner img{
        height: 225px;
    }
    .show_header .searchbox {
        width: 80%;
    }
    .show_header .searchbox input {
        width: 91%;
    }
}
.product-list-big>div{
    margin-bottom:4px;
}
.product-list-big .txttitle{
    font-size: 16px;
}
.product-list-big .txttitle .iconfont{
    font-size: 22px;
    margin-right:10px;
}
.goods_quan .youhuiquan_big ul{
    display:flex;
    justify-content:space-between;
}
.back {
    width: 100%;
    padding: 8px;
    color: #FFFFFF;
    line-height: 1.2rem;
    text-align: center;
    background: #C83C3B;
}

.back .backtrack {
    font-size: 0.7rem;
    float: left;
}

.back .trolley {
    font-size: 0.9rem;
    margin-right: 2rem;
}

.backtrack a {
    color: #fff;
}
/*优惠券*/

.stamp:before {
    background-color:#C83C3B;
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:10px;
    right:10px;

}
 .stamp:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
}
.stamp div{
    position: relative;
    z-index: 2;
    color: #fff;
}
.stamp h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.6rem;
}
.stamp .full{
    font-size: 0.6rem;
    margin-top: 5px;
}
.stamp .using{
    width: 90%;
    background-color: #fff;
    color: #211f1f;
    font-size: 0.6rem;
    margin-left: 5%;
    text-align: center;
    line-height: 1rem;
    box-shadow: 0px 4px 10px 1px #821313;
}

section .block{
    width: 100%;
    height: 50px;
}
.menu{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: #FFF;
    border-top: 1px solid #CCC;
}
.menu li{
    position: relative;
    margin: 0 auto;
    width: 49.5%;
    float: left;
    font-size: 2.2rem;
    text-align: center;
    line-height: 50px;
}
.menu li:first-child{
    border-right: 2px solid #CCC;
}
.menu li a{
    font-family: "楷体","楷体_GB2312";
    font-weight: 800;
    display:block;
}

@media only screen and (min-width: 375px){
    /* .goods_quan .youhuiquan_big ul li{
        width: 45.6%;
    } */
}
@media only screen and (min-width: 414px){
    /* .goods_quan .youhuiquan_big ul li{
        width: 45.1%;
    } */
}

/*李伟剑  2017-12-05*/
.shuoming{
    width: 100%;
    height: 1.425rem;
    line-height: 1.425rem;
    background: #fff;
    color: #C83C3B;
    font-size: 0.6rem;
}
.shuoming ul{
    width: 100%;
    display: flex;
    padding: 0 0.3rem;
}
.shuoming ul li{
    flex: 1;
    /*margin-right: 0.8rem;*/
}
/*.shuoming ul li:last-child{margin-right: 0;}*/
.shuoming ul li i{
    float: left;
    font-size: 0.8rem;
}
.youhuiquan_big ul {
    background: #fff;
    padding: 0.5rem 0;
}
.youhuiquan_big ul li{
    width: 30%;
    background: url(../../img/images/youhui_mobile.png) no-repeat left top;
    background-size: 100%;
    color: #C83C3B;
}
.youhuiquan_big ul li .youhui-top{
    width: 100%;
    float: left;
    height: 1.65rem;
    overflow: hidden;
    margin-left: 0.7rem;
}
.youhuiquan_big ul li .youhui-top p{
    font-size: 0.5rem;
    float: left;
    margin-top: 0.3rem;
}
.youhuiquan_big ul li .youhui-top p em{
    font-size: 1rem;
    font-weight: bold;
}
.youhuiquan_big ul li .youhui-top span{
    font-size: 0.4rem;
    float: left;
    line-height: 0.6rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
.youhuiquan_big ul li a{
    color: #fff;
    background: #C83C3B;
    width: 100%;
    /*height: 1.075rem;*/
    line-height: 1.075rem;
    font-size: 0.45rem;
    text-align: center;
    float: left;
}
.fs45 {
    font-size: 40px;
}

.fs22 {
    font-size: 20px;
}

.fs14 {
    font-size: 14px;
}

.fs13 {
    font-size: 13px;
}

.fs12 {
    font-size: 12px;
    color: #ccc;
}

.fw500 {
    font-weight: 500;
}

.xx_pad {
    padding: 0;
}


.goods_quan div .txttitle {
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
}

.goods_quan .iconfont {
    margin-right: 10px;
}

.youhuiquan {
    padding: 10px 2px 65px 2px;
}

.youhuiquan ul li {
    height: 110px;
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
}

.youhuiquan ul li .lbox {
    display: inline-block;
    background-color: #990e0e;
    color: white;
    padding: 15px;
}

.youhuiquan ul li .rbox {
    display: inline-block;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
}

.lbox p {
    text-align: center;
}

.lbox p:first-child {
    width: 115px;
}

.rbox .infintime {
    color: #ddd;
    margin-bottom: 5px;
}

.rbox .q_info {
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.rbox .q_lingqu {
    border-radius: 10px;
    border: 1px solid #990e0e;
    color: #990e0e;
    padding: 5px 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.quan_num {
    display: inline-block;
    text-align: center;
    color: #990e0e;
}

.rbox .q_num {
    color: #990e0e;
}

.back {
    font-size: 0.8rem;
}

.head {
    width: 100%;
    background: #fff;
    border-top: 1px solid #f0f0f0;
}

.head ul {
    width: 100%;
    display: flex;
}

.head ul li {
    flex: 1;
    font-size: 0.75rem;
    line-height: 2.2rem;
    text-align: center;
    color: #333;
}

.head ul li span {
    display: inline-block;
}

.head ul li.on span {
    color: #990e0e;
    border-bottom: 2px solid #990e0e;
}

.expired ul li .lbox {
    background-color: #ded9d9;
}

.expired ul li .lbox .fs12 {
    color: #fff;
}

.expired .rbox .q_info {
    color: #666;
}

.expired .rbox .q_lingqu {
    border-color: #999;
}

/*优惠券*/
.stamp {
    width: 100%;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 110px;
}

.stamp i {
    position: absolute;
    left: 20%;
    top: 45px;
    height: 190px;
    width: 100%;
    background-color: rgba(255, 255, 255, .15);
    transform: rotate(-30deg);
}

.stamp .par {
    float: left;/*padding: 16px 15px;*/
    width: 40%;
    border-right: 2px dashed rgba(255, 255, 255, .3);
    text-align: center;
    height: 100%;
}

.stamp .par p {
    color: #fff;
    font-size: 0.6rem;
    line-height: 21px;
}

.stamp .par span {
    font-size: 2rem;
    color: #fff;/*margin-right: 5px;*/
    line-height: 4rem;
}

.stamp .par .sign {
    font-size: 1rem;
}

.stamp .par sub {
    position: relative;
    top: -5px;
    color: rgba(255, 255, 255, .8);
}

.stamp .copy {
    display: inline-block;
    vertical-align: text-bottom;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: initial;
    position: relative;
    flex: 1;
    text-align: left;
    padding: 10px;
}

.stamp .copy p {
    font-size: 0.6rem;
}

.stamp .copy .copy_title {
    line-height: 1rem;
    height: 2rem;
    overflow: hidden;
}

.stamp .copy .copy_title em {
    font-size: 12px;
    display: inline-block;
    background: #F39B00;
    padding: 0 5px;
    line-height: 1rem;
    margin-right: 10px;
}

.stamp .copy .copy_time {
    color: #f1f1f1;
    margin-top: 0.2rem;
    font-size: 60%;
}

.stamp .copy .q_lingqu {
    float: right;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #f2e260;
    padding: 0 8px;
    line-height: 1rem;
    font-size: 0.7rem;
    margin-top: 0.2rem;
}

.stamp01 {
    background: #D24161;
    background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #C83C3B 5px);
    background-size: 15px 15px;
    background-position: 9px 3px;
}

