*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    background-color: #f8f8f8;
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
}
.nav {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    padding: 0.5rem;
    background-color: #C83C3B;
    font-size: 0.7rem;
    color: #FFF;
    position: fixed;
    width: 100%;
    top: 0;
}
.nav .back{
    font-size: 0.75rem;
}
.record{
    font-size: 0.9rem;
    margin-left: 25%;
}
.items{
    margin-top: 2.2rem;
    width: 100%;
}
.items .item{
    width: 100%;
    height: 5rem;
    margin: 0;
    border-bottom: 1px solid #f1f1f1;
    list-style: none;
}
.items .item .left_part{
    float: left;
    width: 50%;
    height: 4rem;
    margin: 0.5rem 5%;
}
.items .item .left_part .title{
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0.5rem 0;
}
.items .item .left_part .time{
    font-size: 0.4rem;
    color: #999;
    margin: 0.5rem 0;
}
.items .item .right_part{
    float: right;
    width: 20%;
    height: 4rem;
    margin: 0.5rem 5%;
    line-height: 3rem;
    text-align: right;
    font-size: 0.9rem;
}
.items .item .right_part.rechange{
    color: #00AD00;
}