.body .tab-title {
	background-color: #C83C3B;
	border: none;
}
.back{
	font-size: 1.6rem;
	padding: 10px;
	height: 45px;
	position: fixed;
	width: 100%;
	color:#fff;
	z-index: 10;
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: #C83C3B;
	justify-content: space-between;
	border: none;
	box-shadow: none;
}
.back a{
	font-size: 0.8rem;
	color: #FFF;
}
.back a i {
	font-size: 0.7rem;
	margin-right: 0.4rem;
	color: #FFF;
}
.con .goods-info{
	padding-top: 45px;
}
.con .goods-info .tab-title{
	position: fixed;
	top: 45px;
	left: 0;
	box-shadow: 0 6px 9px -4px #cdcdcd;
}
.dis-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: 400;
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.body .tab-title li a{
	color: #fff;
}
.body .tab-title .active {
	font-weight: bolder;
	border-bottom: 5px solid #fff;
}
.body .tab-title li{
	height: auto;
	padding: 10px;
}
.flow-coupon .tab-title li, .goods-info .tab-title li {
	/*height: 1.8rem;*/
	line-height: 1.8rem;
	box-sizing: border-box;
}
.tab-title .active, .tab-title .active a {
	color: #ec5151;
}
.box-flex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	display: block;
	width: 100%;
}
.goods-info .store_info {
	margin-top: 50px;
}
.m-top08 {
	margin-top: .8rem;
}
.store_info .flow-checkout-pro:first-child{
	/*display: flex;*/
	flex-direction: row-reverse;
}
.b-color-f {
	background: #fff;
}
.padding-all {
	padding: 1.1rem;
}
.box-flex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	display: block;
	width: 100%;
}
.f-04 {
	font-size: 1.4rem;
}
.t-first {
	color: #ec5151;
	font-style: normal;
}
.flow-checkout-pro .f-c-p-orderid {
	padding-bottom: .6rem;
	position: relative;
}
.b-color-f {
	background: #fff;
}
.m-top1px {
	margin-top: 1px;
}
.product-div-link {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.t-remark2 {
	color: #444;
	font-size: 1.5rem;
}
.t-remark, .t-remark a, .t-remark a:link, .t-remark:link {
	color: #999;
	font-size: 1.4rem;
	font-weight: 400;
}
label {
	font-weight: 400;
	margin-bottom: 0;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
.flow-checkout-pro .f-c-p-orderid .t-jiantou {
	display: initial;
	padding-left: 0;
}
.flow-checkout-pro span.t-jiantou {
	display: block;
	padding-left: 1rem;
	margin-top: 3.3rem;
}
span.t-jiantou {
	position: relative;
	font-size: 1.3rem;
	padding-right: 1.3rem;
	/* margin-top: .1rem; */
	color: #777;
}
.t-remark3 {
	font-size: 1.1rem;
	color: #999;
}
.m-top04 {
	margin-top: .4rem;
}
.user-order .tab-title {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11
}
.user-order .flow-checkout-smallpic {
	padding-top: 0;
	margin-bottom: 0;
}
.user-orderlist-shop .flow-checkout-smallpic li{
	display: flex;
	width: 100%!important;
}
/*.flow-checkout-smallpic li:first-of-type {*/
	/*margin-left: 0;*/
/*}*/

.flow-checkout-smallpic li {
	/*margin-left: 1rem;*/
	float: left;
	width: 29%!important;
	text-align: center;
}
.flow-checkout-smallpic li {
	width: 65px!important;
	height: 65px;
}
.flow-checkout-smallpic .product-list-img{
	width: 5rem;
	height: 5rem;
}
.flow-checkout-smallpic  span{
	margin-left: 10px;
	font-size: 1.5rem;
	text-align: left;
}

span.t-jiantou{
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 55px;
	font-size: 1.3rem;
}
.user-order-money {
	padding: 1rem 1.3rem;
	text-align: right;
	border-top: 1px solid #f6f6f9;
	font-size: 1.3rem;
	color: #666;
}
.user-order-money em {
	font-size: 1.5rem;
}
.t-first {
	color: #ec5151;
}
p {
	margin: 0 0 10px;
}
.flow-checkout-pro footer .ect-button-more a, .flow-checkout-pro footer .ect-button-more button {
	padding: .3rem .8rem;
	font-size: 1.4rem;
	width: auto;
}
.flow-checkout-pro header{
	width: 8rem;
}
a.btn-default-new {
	background: #fff;
}
a.btn-default, a.btn-default-new, a.btn-reset {
	color: #555;
}
.btn-default-new {
	border: 1px solid #e2e4e8;
}
.ect-button-more-dete button {
	background: #fff;
	color: #666;
}
.flow-checkout-pro footer, .flow-checkout-pro header, .flow-checkout-pro-1 header {
	/* font-size: 1.6rem; */
}