@charset "utf-8";
/*Create by peng on 12.20.2017*/
/* CSS Document */

/* nav */
body{
    background-color: #f1f1f1;
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
}
.nav {
    padding: 10px;
    display: flex;
    color: #FFF;
    font-size: 0.7rem;
    flex-direction: row;
    background-color: #C83C3B;
    justify-content: space-between;
}
/* nav */

/* aisle */
.aisle  .bank {
    padding: 10px 10px 0 10px;
    background-color: #fff;
    font-size: 0.6rem;
}
.aisle .bank .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
}
.aisle .bank .left .bank_info .bank_name {
    color: #333;
    font-size: 0.8rem;
}
.aisle .bank .left .bank_info .bank_number {
    color: #999;
    font-size: 0.7rem;
}

.aisle .bank .left .bank_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.aisle .bank .left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.aisle .bank .top .left img{
    width: 2rem;
}
.aisle .right {
    color: #999999;
    font-weight: bold;
    font-size: 0.65rem;
}
.aisle .bottom {
    color: #ccc;
    padding: 5px;
}
.aisle .moneny{
    margin-top: 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    padding-left: 15px;
}
/* //rubbish code make engineer foolish */
.aisle .moneny .title{
    color: #333;
}
.aisle .moneny .input{
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    font-size: 0.7rem;
    margin-left: 10px;
    height: 100%;
}
/* aisle */

.row2 .ways{line-height: 2rem; color: #aaa; font-size: 0.75rem; border-bottom: 2px solid #eae9e9; padding-left: 0.5rem;}
.row2 ul{width: 100%; padding-left: 0.5rem;overflow: hidden;border-bottom: 1px solid #eae9e9;}
.row2 ul li{width: 50%; float: left; padding: 0.5rem; position: relative; border-bottom: 1px solid #eae9e9;}
.row2 ul li:nth-child(2n+1){border-right: 1px dashed #eae9e9;}
.row2 ul li:last-child{border-bottom: none;}
.row2 ul li label{display: block; float: left; width: 100%;}
.row2 ul li label img{width: 1.3rem; display: inline-block; float: left; margin-top: 0.25rem;}
.row2 ul li label .way-name{float: left; margin-left: 0.5rem;}
.row2 ul li label .way-name h3{font-size: 0.75rem; color: #333;}
.row2 ul li label .way-name p{font-size: 50%; color: #999;}
.row2 ul li label input{float: right; -webkit-appearance: none; border: none; outline: none; background: url(../../BigImg/check.png) no-repeat center; background-size: 20px; height: 20px; width: 20px; margin-top: 0.35rem;}
.row2 ul li label input:checked{background: url(../../BigImg/checked.png) no-repeat center; background-size: 20px;}
/*
.bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
    width: 100%;
}*/

.bar .bar-detail {
    margin-top: 2rem;
    width: 100%;
    line-height: 50px;
}

.bar .bar-detail p {
    color: #333;
    font-size: 0.9rem;
    float: right;
}

.bar .bar-detail button {
    color:#CCCCCC;
    border-radius: 0.2rem;
    background-color: rgba(238,238,238,1);
    height: 50px;
    line-height: 50px;
    width: 90%;
    margin-left: 5%;
    font-size: 0.8rem;
    border: none;
    outline: none;
}
.bar .bar-detail button:hover{
    background-color: #be1b25;
}
.bar .bar-detail button em {
    font-size: 60%;
}

ul{
    padding-left: 0rem !important;
}