* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    background-color: #f1f1f1;
    font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
}
.top{
    height: 5vh;
}
.back{
  padding: 8px;
  color:#FFFFFF;
  line-height: 2rem;
  text-align: center;
/*   width: 100%; */
  background:#C83C3B;
}
.back .backtrack{
  font-size: 1.5rem;
  color:#FFFFFF;
  float:left;
}
.back .trolley{
  font-size: 1.8rem;
  margin-right: 12vw;
  color:#FFFFFF;
}
.backtrack a{
  color: #fff;
  text-decoration:none;
}
.con {
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    /*min-height: 100vh;*/
    height: 95vh;
    background: #F5F5F5;
}
.affiliate-cont-box {
    background: #fb9c0e;
    // margin-top: 6rem;
}
.p-r {
    position: relative;
}
.p_div img {
    width: 100%;
    height: 95vh;
    display: block;
}
.share-ewm-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24%;
    margin-top: -5%;
    width: 48%;
}
.share-ewm-box img {
    width: 100%;
}
.share-ewm-box p {
    border: 1px solid #ec5151;
    border-radius: 5rem;
    color: #ec5151;
    padding: .2rem;
    font-size: 1.2rem;
    margin: 1.3rem 1rem;
}
.text-c {
    text-align: center !important;
}
.affiliate-cont {
    padding-top: 0;
}
.padding-all {
    padding: 1.1rem;
}
.b-color-f {
    background: #fff;
}
.padding-all {
    padding: 1.1rem;
}
.br-5 {
    text-align: center;
    border-radius: 5px;
}
.affiliate-cont h4 {
    font-weight: 600;
}
.f-06 {
    font-size: 1.6rem;
}
.m-top04 {
    margin-top: .4rem;
}
.m-top06 {
    margin-top: .6rem;
    text-align: left;
}
.affiliate-cont ul li {
    font-size: 1.3rem;
    color: #666;
    line-height: 1.5;
}
.affiliate-cont {
    padding-top: 0;
}
.padding-all {
    padding: 1.1rem;
}
.b-color-f {
    background: #fff;
}
.padding-all {
    padding: 1.1rem;
}
.br-5 {
    border-radius: 5px;
}
.affiliate-cont h4 {
    font-weight: 600;
}
.f-06 {
    font-size: 1.6rem;
}
.m-top04 {
    margin-top: .4rem;
}
.text-c {
    text-align: center !important;
}
.share-table-box, .rule-table-box {
    border-bottom: 1px solid #efefef;
    width: 100%;
    margin-top: 1.2rem;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table th, td {
    padding: 5px;
    border: 1px solid #dbdcde;
}

.share-top {
    border-top: 1px solid #dbdcde;
}
.affiliate-cont {
    padding-top: 0;
}
.padding-all {
    padding: 1.1rem;
}
.b-color-f {
    background: #fff;
}
.padding-all {
    padding: 1.1rem;
}
.br-5 {
    border-radius: 5px;
}
.affiliate-cont h4 {
    font-weight: 600;
}
.f-06 {
    font-size: 1.6rem;
}
.m-top04 {
    margin-top: .4rem;
}
.text-c {
    text-align: center !important;
}
.no-div-message {
    text-align: center;
    padding: 4rem 0;
    color: #999;
}
.no-div-message .icon-biaoqingleiben {
    font-size: 7rem;
    color: #a6a6a6;
}
.no-div-message p {
    margin-top: 1rem;
    font-size: 1.4rem;
}
canvas{
    width: 100%;
    height: 100%;
}