.pwdForm {
  position: absolute;
  width: 100%;
  height: 17rem;
  background: #fff;
}
.pwdForm .items {
  width: 100%;
  padding: 0px 0.32rem;
}
.pwdForm .items .item {
  width: 100%;
  height: 1.33333333rem;
  padding: 0.4rem;
  border-bottom: 1px #eee solid;
}
.pwdForm .items .iconfont {
  margin: 0.4rem;
  float: left;
  width: 2rem;
  height: 1.4rem;
  border-right: 1px #ccc solid;
  text-align: left;
  font-size: 1.2rem;
}
.pwdForm .items .pwd {
  margin-left: 0.8rem;
  height: 2rem;
  width: 10rem;
  border: none;
  outline: medium;
  font-size: 0.75rem;
}
.pwdForm .items .editPwd {
  margin: 2rem auto;
  width: 90vw;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  background: #c83c3b;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}
.pwdForm .savePwd {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.7rem;
  height: 2rem;
  color: #ffffff;
  background: #c83c3b;
  border-radius: 4px;
  line-height: 2rem;
}
