/*Create by Li Weijian on 2018.01.25*/
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 13;
  display: none;
}
.searchBox {
  position: relative;
  z-index: 15;
  background: #fff;
  padding: 0.2rem 0.3rem;
  height: 1.2rem;
  display: none;
}
.searchBox form {
  flex: 1;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 0.2rem;
  display: block;
}
.searchBox form i {
  color: #fff;
  font-size: 32px;
  float: left;
  line-height: 0.8rem;
  margin-right: 0.2rem;
  width: auto;
  height: auto;
}
[data-dpr="1"] .searchBox form i {
  font-size: 16px;
}
[data-dpr="3"] .searchBox form i {
  font-size: 48px;
}
.searchBox form input {
  border: none;
  outline: none;
  background: none;
  color: #666;
  float: left;
  line-height: 0.9rem;
  font-size: 28px;
}
[data-dpr="1"] .searchBox form input {
  font-size: 14px;
}
[data-dpr="3"] .searchBox form input {
  font-size: 42px;
}
.searchBox form input[type="text"] {
  flex: 1;
}
.searchBox form input[type="text"]::-webkit-input-placeholder {
  color: #aaa;
}
.searchBox form input[type="text"]::-moz-placeholder {
  color: #aaa;
}
.searchBox form input[type="text"]:-ms-input-placeholder {
  color: #aaa;
}
.searchBox .cancel {
  border: none;
  outline: none;
  background: none;
  font-size: 28px;
  color: #00f;
}
[data-dpr="1"] .searchBox .cancel {
  font-size: 14px;
}
[data-dpr="3"] .searchBox .cancel {
  font-size: 42px;
}
.index {
  background: #fff;
  width: 100%;
  height: 100%;
  padding-bottom: 1.33rem;
}
.index header {
  width: 100%;
  height: 5.35rem;
  position: relative;
}
.index header .index-banner-container {
  width: 100%;
  height: 5.35rem;
}
.index header .index-banner-container .index-banner-wrapper .swiper-slide {
  width: 100%;
  height: 5.35rem;
}
.index header .index-banner-container .index-banner-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.index header .index-banner-container .swiper-pagination span {
  width: 0.27rem;
  height: 0.08rem;
  background: #fff;
  opacity: 1;
  border-radius: 0;
}
.index header .index-banner-container .swiper-pagination span.swiper-pagination-bullet-active {
  background: #fbd1be;
}
.index header .header-features {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  padding: 0 0.3rem;
  height: 1.1rem;
  padding-top: 0.2rem;
  z-index: 10;
}
.index header .header-features .search-box-cover {
  position: absolute;
  background: #FF3267;
  left: 0;
  top: 0;
  width: 100%;
  height: 1.1rem;
  z-index: 0;
}
.index header .header-features .scanning {
  width: 0.64rem;
  height: 0.64rem;
  z-index: 11;
}
.index header .header-features .scanning img {
  width: 100%;
}
.index header .header-features .search {
  flex: 1;
  height: 0.7rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0 0.3rem;
  padding: 0 1rem;
  display: flex;
  z-index: 11;
}
.index header .header-features .search span {
  color: #fff;
  font-size: 24px;
  flex: 1;
  line-height: 0.7rem;
  float: left;
}
[data-dpr="1"] .index header .header-features .search span {
  font-size: 12px;
}
[data-dpr="3"] .index header .header-features .search span {
  font-size: 36px;
}
.index header .header-features .search input {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  float: left;
  line-height: 0.7rem;
  font-size: 24px;
  /* &[type="text"]{
						flex: 1;
						&::-webkit-input-placeholder{
							color: #fff;
						}
						&::-moz-placeholder{
							color: #fff;
						}
						&:-ms-input-placeholder{
							color: #fff;
						}
					
					} */
}
[data-dpr="1"] .index header .header-features .search input {
  font-size: 12px;
}
[data-dpr="3"] .index header .header-features .search input {
  font-size: 36px;
}
.index header .header-features .search input[type="image"] {
  width: 0.35rem;
  height: 0.35rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
.index header .header-features .message {
  z-index: 11;
  width: 0.75rem;
  height: 0.64rem;
}
.index header .header-features .message img {
  width: 100%;
}
.index .topic {
  width: 100%;
  overflow: hidden;
}
.index .topic ul {
  width: 100%;
}
.index .topic ul li {
  width: 50%;
  float: left;
  border-bottom: 1px solid #eee;
  position: relative;
  overflow: hidden;
  padding: 0.4rem 0.4rem 0.5rem;
  height: 1.81rem;
}
.index .topic ul li:nth-child(2n+1) {
  border-right: 1px solid #eee;
}
.index .topic ul li:last-child .img {
  width: 0.9rem;
}
.index .topic ul li .img {
  float: left;
  width: 0.87rem;
  margin-right: 0.3rem;
}
.index .topic ul li .img svg {
  font-size: 70px;
}
[data-dpr="1"] .index .topic ul li .img svg {
  font-size: 35px;
}
[data-dpr="3"] .index .topic ul li .img svg {
  font-size: 105px;
}
.index .topic ul li a {
  display: block;
  float: left;
}
.index .topic ul li a h3 {
  color: #333;
  font-size: 24px;
  line-height: 0.55rem;
}
[data-dpr="1"] .index .topic ul li a h3 {
  font-size: 12px;
}
[data-dpr="3"] .index .topic ul li a h3 {
  font-size: 36px;
}
.index .topic ul li a p {
  color: #999;
  font-size: 20px;
}
[data-dpr="1"] .index .topic ul li a p {
  font-size: 10px;
}
[data-dpr="3"] .index .topic ul li a p {
  font-size: 30px;
}
.index .bottom-line {
  width: 100%;
  height: 0.2rem;
  background: #f5f5f5;
}
.index .top-categories {
  width: 100%;
  padding: 0 0.2rem;
}
.index .top-categories header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: auto;
}
.index .top-categories header h3 {
  text-align: center;
  color: #FF3267;
  line-height: 1.2rem;
  font-size: 32px;
  position: relative;
}
[data-dpr="1"] .index .top-categories header h3 {
  font-size: 16px;
}
[data-dpr="3"] .index .top-categories header h3 {
  font-size: 48px;
}
.index .top-categories header h3 i {
  width: 0.19rem;
  height: 0.19rem;
  background: url("../images/circle+.png") no-repeat center;
  background-size: 100%;
  position: relative;
  top: -0.08rem;
  display: inline-block;
}
.index .top-categories section {
  width: 100%;
  display: flex;
}
.index .top-categories section .big-categories {
  width: 3.6rem;
  height: 4.53rem;
  float: left;
}
.index .top-categories section .big-categories a img {
  width: 100%;
}
.index .top-categories section ul {
  flex: 1;
  float: left;
}
.index .top-categories section ul li {
  float: left;
  width: 2.8rem;
  height: 2.21rem;
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;
}
.index .top-categories section ul li a {
  display: block;
}
.index .top-categories section ul li a img {
  width: 100%;
}
.index .variety {
  width: 100%;
  margin-top: 0.33rem;
  margin-bottom: 0.33rem;
}
.index .variety a img {
  width: 100%;
}
.index .products-list {
  width: 100%;
  margin-top: 0.3rem;
}
.index .products-list .products-title {
  width: 100%;
  margin: 0.3rem 0;
}
.index .products-list .products-title p {
  background: url("../images/mb-title.png") no-repeat center;
  width: 5.61rem;
  height: 0.59rem;
  margin: 0 auto;
  color: #333;
  font-size: 34px;
  text-align: center;
  background-size: 100%;
}
[data-dpr="1"] .index .products-list .products-title p {
  font-size: 17px;
}
[data-dpr="3"] .index .products-list .products-title p {
  font-size: 51px;
}
.index .products-list ul {
  width: 100%;
  margin-top: 0.2rem;
}
.index .products-list ul li {
  width: 4.53rem;
  height: 6.56rem;
  float: left;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0.1rem 0.23rem;
  overflow: hidden;
}
.index .products-list ul li a {
  display: block;
}
.index .products-list ul li a .producsts-img {
  width: 100%;
  height: 4.3rem;
  position: relative;
}
.index .products-list ul li a .producsts-img img {
  width: 100%;
  height: 100%;
}
.index .products-list ul li a .producsts-img p {
  display: block;
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  background-color: #FF3267;
  color: #fff;
  padding: 0.1rem 0.15rem;
  font-size: 24px;
  border-radius: 5px;
}
[data-dpr="1"] .index .products-list ul li a .producsts-img p {
  font-size: 12px;
}
[data-dpr="3"] .index .products-list ul li a .producsts-img p {
  font-size: 36px;
}
.index .products-list ul li a .producsts-detail {
  width: 100%;
  background-color: #f1f1f1;
  height: 2.25rem;
  padding: 0.2rem 0.1rem;
}
.index .products-list ul li a .producsts-detail h3 {
  color: #333;
  font-size: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[data-dpr="1"] .index .products-list ul li a .producsts-detail h3 {
  font-size: 14px;
}
[data-dpr="3"] .index .products-list ul li a .producsts-detail h3 {
  font-size: 42px;
}
.index .products-list ul li a .producsts-detail p {
  color: #999;
  font-size: 22px;
  margin-bottom: 0.18rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.15rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[data-dpr="1"] .index .products-list ul li a .producsts-detail p {
  font-size: 11px;
}
[data-dpr="3"] .index .products-list ul li a .producsts-detail p {
  font-size: 33px;
}
.index .products-list ul li a .producsts-detail div {
  font-size: 28px;
  color: #FF3267;
}
[data-dpr="1"] .index .products-list ul li a .producsts-detail div {
  font-size: 14px;
}
[data-dpr="3"] .index .products-list ul li a .producsts-detail div {
  font-size: 42px;
}
.index .products-list .more {
  width: 100%;
  margin-top: 0.3rem;
  font-size: 26px;
  color: #FF3267;
  margin-bottom: 0.3rem;
}
[data-dpr="1"] .index .products-list .more {
  font-size: 13px;
}
[data-dpr="3"] .index .products-list .more {
  font-size: 39px;
}
.index .products-list .more p {
  text-align: center;
}
.index .products-list .more p i {
  font-size: 26px;
}
[data-dpr="1"] .index .products-list .more p i {
  font-size: 13px;
}
[data-dpr="3"] .index .products-list .more p i {
  font-size: 39px;
}
.index .no-more {
  width: 100%;
  height: 1.33rem;
  background-color: #eee;
  line-height: 1.33rem;
  text-align: center;
  font-size: 24px;
  color: #aaa;
}
[data-dpr="1"] .index .no-more {
  font-size: 12px;
}
[data-dpr="3"] .index .no-more {
  font-size: 36px;
}
/* 页脚菜单导航 */
.footer {
  position: fixed;
  width: 100%;
  height: 1.33rem;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 0.12rem;
  box-shadow: 0px 1px 16px -1px #f9dbe3;
  background: #fff;
}
.footer ul {
  width: 100%;
  display: flex;
}
.footer ul li {
  flex: 1;
  text-align: center;
}
.footer ul li.on a {
  color: #FF3267;
}
.footer ul li a {
  display: block;
  text-align: center;
  color: #999;
}
.footer ul li a svg {
  font-size: 46px;
}
[data-dpr="1"] .footer ul li a svg {
  font-size: 23px;
}
[data-dpr="3"] .footer ul li a svg {
  font-size: 69px;
}
.footer ul li a p {
  font-size: 24px;
}
[data-dpr="1"] .footer ul li a p {
  font-size: 12px;
}
[data-dpr="3"] .footer ul li a p {
  font-size: 36px;
}
